
/* menu************************************************ */
/* .nav{
    min-height: 100px;
} */
.container-fluid{
    width: 100%;
}
.container{
    clear: both;
margin-left: auto;
margin-right: auto;
max-width: 1200px;
direction: rtl;
/* padding-left: 15px;
padding-right: 15px; */
}
.row::after{
    content: "";
    clear: both;
}
ul.menu li{
    display: inline-block;
    font-style: none;
    /* padding: 10px; */
    margin: 20px;
    line-height: 40px;
    /* text-align: left; */
}
.gray-color{
    background-color: rgb(211, 202, 202);
}
.green-color{
    background-color: gray;
}
.red-color{
    background-color: red;
}
.blue-color{
    background-color: blue;
}
.yellow-color{
    background-color:yellow;
}
/* heder************************************************* */

.img-respansive{
    width: 1083px;
    height: 400px;

}



















/* xs*************************************************** */
.col-xs-0{
    width: 0;
    margin-right: 0%; ;
}
.col-xs-1{ 
    width: 8/33%;
}
.col-xs-2{
     width: 9,09%;
    }
.col-xs-3{ 
    width: 10%;
}
.col-xs-4{
    width: 11,11%;
}
.col-xs-5{ 
    width: 12,5%;
}
.col-xs-6{ 
    width: 14,28%;
}
.col-xs-7{ 
    width: 16,66%;
}
.col-xs-8{ 
    width:20%;
}
.col-xs-9{ 
    width: 25%;
}
.col-xs-10{ 
    width: 33,33%;
}
.col-xs-11{ 
    width: 50%;
}
.col-xs-12{ 
    width: 100%;
}


/* s************************************************ */

.col-s-0{
    width: 0;
    margin-right: 0%; ;
}
.col-s-1{ 
    width: 8/33%;
}
.col-s-2{
     width: 9,09%;
    }
.col-s-3{ 
    width: 10%;
}
.col-s-4{
    width: 11,11%;
}
.col-s-5{ 
    width: 12,5%;
}
.col-s-6{ 
    width: 14,28%;
}
.col-s-7{ 
    width: 16,66%;
}
.col-s-8{ 
    width:20%;
}
.col-s-9{ 
    width: 25%;
}
.col-s-10{ 
    width: 33,33%;
}
.col-s-11{ 
    width: 50%;
}
.col-s-12{ 
    width: 100%;
}
/* md************************************************ */

.col-md-0{
    width: 0;
    margin-right: 0%; ;
}
.col-md-1{ 
    width: 8/33%;
}
.col-md-2{
     width: 9,09%;
    }
.col-md-3{ 
    width: 10%;
}
.col-md-4{
    width: 11,11%;
}
.col-md-5{ 
    width: 12,5%;
}
.col-md-6{ 
    width: 14,28%;
}
.col-md-7{ 
    width: 16,66%;
}
.col-md-8{ 
    width:20%;
}
.col-md-9{ 
    width: 25%;
}
.col-md-10{ 
    width: 33,33%;
}
.col-md-11{ 
    width: 50%;
}
.col-md-12{ 
    width: 100%;
}
/* l******************************************** */
