*,
body {
  /* margin-left: auto;
  margin-right: auto; */
  box-sizing: border-box;
  font-family: vazir-Medium;
  padding: 0;
  margin: 0%;
}
body {
  direction: ltr;
}
a {
  list-style: none;
  text-decoration: none;
  /* decoration:none; */
}
figure {
  position: relative;
}
li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.red-color {
  background-color: red;
}
.yellow-color {
  background-color: yellow;
}
.blue-color {
  background-color: blue;
}
.green-color {
  background-color: green;
}
.gray-color {
  background-color: gray;
}
.l-gray-color {
  background-color: rgb(163, 179, 176);
}
.m-50 {
  margin: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-220 {
  margin-top: 220px;
}
.p-0 {
  padding: 0 !important;
  /* background-color: rgba(75, 219, 171, 0.158); */
}
.m-0 {
  margin: 0px;
}
.text-center {
  text-align: center;
}
.img-respansive {
  width: 100%;
  height: auto;
  display: inline-block; /* چون در زمان هاور از تصویر نزنه بیرون*/
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.round-corner {
  border-radius: 5px;
}
.box-shadow {
  box-shadow: 0px 0px 2px 0px #d0d0d0;
}
.container-fluid {
  width: 100%;
}

.container {
  clear: both;
  content: "";
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class^="col-"] {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}
/* accordion menu************************ */
.body-custom{
  /* background-color: #d0d0d0; */
}
.project-title{
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 100px;
  font-weight: bold;
  color: rgb(36, 36, 36);
}

.container{
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  height:350px;
  margin: auto;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.158);
}
/* right-side ...... social-login ......... */
.right-side{
  display: flex;
  flex-basis: 50%;
  max-width: 50%;
  position: relative;
}
.social-login::before{
  content:"";
  width: 100%;
  height: 12px;
  /* background-color: yellowgreen; */
  position: absolute;
  left: 0;
  top: 0px;
  }
/* .social-login{
position: absolute;
width: 100%;
text-align: center;
} */
.link-social  img{
  width: 30px;
  height: 30px;
  border-radius: 30%;
  border: 2px solid rgb(221, 221, 221);
  margin:-18px 10px;
  text-align: center;
  padding: 5px;
  transition:hover 10s ease;
  
  }
  .social-login a:nth-child(1) img{
    color: rgb(54, 54, 253);
  }
  .social-login a:nth-child(1) img:hover{
    border-radius: 50%;
    transform: scale(1.2);

  }

  .social-login a:nth-child(2) img{
    color: #fc0303;
    
      }
      .social-login a:nth-child(2) img:hover{
        border-radius: 50%;
      transform: scale(1.2);
      }
/* right-side ...... form ......... */
.right-side form{
  position: absolute;
  /* top: 40px; */
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  
}
form .input-group{
  position: relative;
}
.input-group label{
font-size: 14px;
color: rgb(34, 83, 50);


}
.right-side form .input-group input{
  width: 100%;
  height: 40px;
  border-radius:3px ;
  border: 1px solid rgb(238, 238, 238);
  outline:0;
  margin:10px 0 18px 0;
  padding-left: 5px;
  border-width: 0 0 1px 0;
}
.right-side form .input-group span:after{
  content: "";
  position: absolute;
  bottom: 17px;
  right: 0;
  background-color: #1cf36b;
  width: 0;
  height: 1px;
  transition: width 1s ease;

}
.right-side form .input-group input:focus ~ span:after{
width: 100%;
}
@keyframes m {
  0%{
    margin-right: -20%;
  }
  50%{
    margin-right: -50%;  }
  100%{
    margin-right: 620%;  }
}
.right-side form .input-group .Remember{
  position: absolute;
  left: 25px;
  top: 1px;
}
.right-side form .input-group input[type=checkbox]{
  width: 15px;
height: 15px;
position: absolute;
top: -9px;
right:210px;

}

.right-side form .input-group input[type=checkbox]:hover{
  cursor: pointer;
}

.right-side form  input[type=submit]{
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 0;
  outline: 0;
  background-color: #9fbba837;
  border: 1px solid green;
  box-shadow: 1px 1px 2px gray;
}
.right-side form  input[type=submit]:hover{
 background-color:#e4ebe4 ;
 border: .5px solid green;
 outline: 0;
 cursor: pointer;
}











/* ................. */
 .left-side{
  display: flex;
  flex-basis: 50%;
  max-width: 50%;
}