
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background-color: #f46a6a;
  color: white;
  max-width: 800px;
margin: 100px auto;
text-align: center;
overflow: hidden;
}
.cours-title{
  font-size: 30px;
  font-weight: bold;
  
}