
  @font-face {
    font-family: vazir-Medium;
    src: url(#{$font-path}/Vazir-Medium.eot) format("eot"),
      url(#{$font-path}/Vazir-Medium.woff2) format("woff2"),
      url(#{$font-path}/Vazir-Medium.woff) format("woff");
    font-weight: 700;
    font-style: normal;
  }
  * {
    /* font-family: $font-family; */
    direction: ltr;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul,
  ol,
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  /* ............. public style */
  .container-fluid {
    width: 100%;
    margin: auto;
    position: relative;
  }
  .container {
    max-width: 1170px;
    margin: auto;
    position: relative;
  }
  .row {
    /* // @include flex(flex,flex-start,end); */
    /* @include flex(flex, center, null); */
    width: 100%;
  }
  .img-fluid {
    display: block;
    width: 100%;
    height: auto;
  }
  .mt-550 {
    margin-top: 550px;
  }
  .mt-250 {
    margin-top: 250px;
  }
  .mt-100 {
    margin-top: 100px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .mb-200 {
    margin-bottom: 200px;
  }
  /* ************************************* body */
  body {
    background-image: url(../img/constitution-iran-concept-d-rendering-constitution-iran-concept-d-110157774.jpg);
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
    background-position: center;
    width: 100%;
    height: auto;
    background-attachment: fixed;
  }
  /* .................................... nav  */
  #nav {
    display: flex;
  }
  /* ............ nav-language */
  .nav-language {
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
    z-index: 1;
  }
  .nav-language ul {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }
  .nav-language ul li {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  .nav-language ul li a {
    color: rgb(84, 84, 84);
  }
  .nav-language ul li a:hover {
    color: rgb(97, 125, 249);
  }
  .nav-language ul li a:focus {
    color: rgb(172, 186, 250);
  }
  /* ............. nav-menu */
  .nav-menu {
    display: flex;
    flex-basis: 70%;
    justify-content: space-around;
    z-index: 1;
    /* align-items: center;  */
  }
  .nav-menu ul {
    display: flex;
    flex-direction: row;
  }
  .nav-menu ul li {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
  }
  .nav-menu ul li a {
    color: rgb(84, 84, 84);
  }
  .nav-menu ul li a:hover {
    color: rgb(97, 125, 249);
    transform: scale(5);
  }
  .nav-menu ul li a:focus {
    color: rgb(172, 186, 250);
  }
  /* ............. nav-icon */
  .nav-icon {
    display: flex;
    flex-basis: 20%;
    position: relative;
    z-index: 1;
  }
  .nav-icon i {
    font-size: 50px;
    position: absolute;
    top: -15px;
  }
  .nav-icon i:hover {
    transform: rotate(20deg);
    /* transition: 1s transform ease; */
    animation: icon-nav 1s ease;
  }
  @keyframes icon-nav {
    0% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
/* *************************************** form */
.form{
    border-top: 1px solid rgb(218, 218, 218);
    /* border-right: 1px solid rgb(218, 218, 218); */
    box-shadow: 1px 0 5px rgb(190, 190, 191);
    
}











































  /* **************************************** footer */
  .footer {
    /* background-color: #086fab; */
    background-color: #167489;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .d {
    display: grid;
    /* column-gap: 0px; */
    grid-template-columns: auto auto auto auto auto;
  }
  .row-footer {
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 25px;
    position: relative;
  
  }
  .column-1 ,.column-4 ,.column-5 {
    
  }
  .column-1 h4,.column-4 h4,.column-5 h4{
      position: absolute;
      top: -20px;
      color: #10beea;
    }
  .column-1  h4{
      
      
    }
    .column-1 a,.column-2 a,.column-3 a,.column-4 a,.column-5 li{
    color: white;
  }
  .column-1 a:hover,.column-2 a:hover,.column-3 a:hover{
      color: rgb(116, 189, 245);
    }
  /* map */
  .column-4 iframe{
      width:250px;
      /* max-width: 100%; */
      height:200px;
  }