@font-face {
  font-family: vazir-Medium;
  src: url(#{$font-path}/Vazir-Medium.eot) format("eot"),
    url(#{$font-path}/Vazir-Medium.woff2) format("woff2"),
    url(#{$font-path}/Vazir-Medium.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  /* font-family: $font-family; */
  direction: ltr;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ............. public style */
.container-fluid {
  width: 100%;
  margin: auto;
  position: relative;
}
.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}
.row {
  /* // @include flex(flex,flex-start,end); */
  /* @include flex(flex, center, null); */
  width: 100%;
}
.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}
.mt-550 {
  margin-top: 550px;
}
.mt-250 {
  margin-top: 250px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-200 {
  margin-bottom: 200px;
}
/* ************************************* body */
body {
  background-image: url(../img/constitution-iran-concept-d-rendering-constitution-iran-concept-d-110157774.jpg);
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  background-position: center;
  width: 100%;
  height: auto;
  background-attachment: fixed;
}
/* .................................... nav  */
#nav {
  display: flex;
}
/* ............ nav-language */
.nav-language {
  display: flex;
  flex-direction: row;
  flex-basis: 10%;
  z-index: 1;
}
.nav-language ul {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.nav-language ul li {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
}
.nav-language ul li a {
  color: rgb(84, 84, 84);
}
.nav-language ul li a:hover {
  color: rgb(97, 125, 249);
}
.nav-language ul li a:focus {
  color: rgb(172, 186, 250);
}
/* ............. nav-menu */
.nav-menu {
  display: flex;
  flex-basis: 70%;
  justify-content: space-around;
  z-index: 1;
  /* align-items: center;  */
}
.nav-menu ul {
  display: flex;
  flex-direction: row;
}
.nav-menu ul li {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
}
.nav-menu ul li a {
  color: rgb(84, 84, 84);
}
.nav-menu ul li a:hover {
  color: rgb(97, 125, 249);
  transform: scale(5);
}
.nav-menu ul li a:focus {
  color: rgb(172, 186, 250);
}
/* ............. nav-icon */
.nav-icon {
  display: flex;
  flex-basis: 20%;
  position: relative;
  z-index: 1;
}
.nav-icon i {
  font-size: 50px;
  position: absolute;
  top: -15px;
}
.nav-icon i:hover {
  transform: rotate(20deg);
  /* transition: 1s transform ease; */
  animation: icon-nav 1s ease;
}
@keyframes icon-nav {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* *************************************** form */
.line {
  /* margin-top: 0px; */
  width: 100%;
  background-color: #10beeaba;
  height: 2px;
  box-shadow: 1px 1px 3px rgb(177, 177, 177);
}
.form {
  border-left: 1px solid rgb(218, 218, 218) !important;
  border-top: 1px solid rgb(218, 218, 218) !important;
  /* border-right: 1px solid rgb(218, 218, 218); */
  /* box-shadow: 1px 0px 1px rgb(190, 190, 191); */
  padding: 40px;
  border: none;
}
.form h2 {
  margin-bottom: 40px;
}
.form-all {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
/* all */
.First-Name,
.Last-Family,
.Email,
.Phone,
.Region,
.Prefered-language,
.Topic,
.Message,
.submit,
.robot {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.First-Name label,
.Last-Family label,
.Email label,
.Phone label,
.Region label,
.Prefered-language label,
.Topic label,
.Message label,
.submit label,
.robot label {
  font-size: 16px;
  color: #0ab2d7;
  padding-bottom: 5px;
  font-weight: bold;
}
.First-Name label::after,
.Last-Family label::after,
.Email label::after,
.Phone label::after,
.Region label::after,
.Prefered-language label::after,
.Topic label::after,
.Message label::after,
.submit labe::after,
.robot label::after {
  content: "*";
  color: red;
  vertical-align: -5px;
  padding-left: 20px;
}
.First-Name input,
.Last-Family input,
.Email input,
.Phone input,
.Prefered-language input,
.Message input,
.submit input {
  padding: 5px 15px;
  outline: none;
  color: rgb(43, 43, 43);
  width: 50%;
  border-radius: 1px 10px 0px 0px;
  background-color: #efefef;
  border-bottom: 1px solid rgb(184, 184, 184);
  border-top: none;
  border-left: none;
  border-right: none;
}
/* Region Topic*/
.Region , .Topic{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}
.select-Region , .select-Topic{
    margin-bottom: 15px;
    margin-left: 10%;
padding:5px 10px;
width: 20%;
border: none;
border-bottom: 1px solid rgb(219, 219, 219);
}

.Region input , .Topic input{
width: 10%;
height: 30px;
padding: 0px 10px;
  outline: none;
  color: rgb(43, 43, 43);
  /* border-radius: 1px 5px 0px 0px; */
  background-color: #0ab2d7;
  border-bottom: 1px solid rgb(184, 184, 184);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 20px;
  margin-top: 5px;
}
.select-Topic{
    margin-left: 11%;
}
/* Message */
.Message textarea{
border: 1px solid rgb(215, 215, 215);
box-shadow: 1px 1px 5px rgb(219, 219, 219);
padding: 20px;
}
.Message textarea::before{
    display: block;
    width: 100%;
    height: 100px;
    contain: '';
    background-color: #10beea;
    
    
    }

/* **************************************** footer */
.footer {
  /* background-color: #086fab; */
  background-color: #167489;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* height: 400px; */
}
.d {
  display: grid;
  /* column-gap: 0px; */
  grid-template-columns: auto auto auto auto auto;
  margin-top: 80px;
  padding-left: 100px;
}
.row-footer {
  float: left;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 25px;
  position: relative;
}
.column-1,
.column-4,
.column-5 {
}
.column-1 h4,
.column-4 h4,
.column-5 h4 {
  position: absolute;
  top: -20px;
  color: #10beea;
}
.column-1 h4 {
}
.column-1 a,
.column-2 a,
.column-3 a,
.column-4 a,
.column-5 li {
  color: white;
}
.column-1 a:hover,
.column-2 a:hover,
.column-3 a:hover {
  color: rgb(116, 189, 245);
}
/* map */
.column-4 iframe {
  width: 250px;
  /* max-width: 100%; */
  height: 140px;
}
