.container{
    width: 1720px;
    height: auto;
    margin: auto;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
}
img{
    width: 200px;
    height: 300px;

}
button{
    width: 80px;
    height: 30px;
    align-self: flex-end;
}