/* ....................................ex-sm */
@media only screen and(max-width: 576px) {
  .col-exsm-auto {
    width: auto;
  }

  .col-exsm-1 {
    width: 8.33333333%;
  }

  .col-exsm-2 {
    width: 16.66666667%;
  }

  .col-exsm-3 {
    width: 25%;
  }

  .col-exsm-4 {
    width: 33.33333333%;
  }

  .col-exsm-5 {
    width: 41.66666667%;
  }

  .col-exsm-6 {
    width: 50%;
  }

  .col-exsm-7 {
    width: 58.33333333%;
  }

  .col-exsm-8 {
    width: 66.66666667%;
  }

  .col-exsm-9 {
    width: 75%;
  }

  .col-exsm-10 {
    width: 83.33333333%;
  }

  .col-exsm-11 {
    width: 91.66666667%;
  }

  .col-exsm-12 {
    width: 100%;
  }

  .offset-exsm-0 {
    margin-left: 0;
  }

  .offset-exsm-1 {
    margin-left: 8.33333333%;
  }

  .offset-exsm-2 {
    margin-left: 16.66666667%;
  }

  .offset-exsm-3 {
    margin-left: 25%;
  }

  .offset-exsm-4 {
    margin-left: 33.33333333%;
  }

  .offset-exsm-5 {
    margin-left: 41.66666667%;
  }

  .offset-exsm-6 {
    margin-left: 50%;
  }

  .offset-exsm-7 {
    margin-left: 58.33333333%;
  }

  .offset-exsm-8 {
    margin-left: 66.66666667%;
  }

  .offset-exsm-9 {
    margin-left: 75%;
  }

  .offset-exsm-10 {
    margin-left: 83.33333333%;
  }

  .offset-exsm-11 {
    margin-left: 91.66666667%;
  }
  .d-exsm-none{
    display: none !important;
  }
  .d-exsm-block {
    display: block !important;
  }
}
/* .......................................sm */
@media only screen and(min-width: 576px) {
  .col-sm-auto {
    width: auto;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-3 {
    width: 25%;

  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.33333333%;
  }

  .offset-sm-2 {
    margin-left: 16.66666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333333%;
  }

  .offset-sm-5 {
    margin-left: 41.66666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333333%;
  }

  .offset-sm-8 {
    margin-left: 66.66666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333333%;
  }

  .offset-sm-11 {
    margin-left: 91.66666667%;
  }
  .d-sm-none{
    display: none;
  }
  .d-sm-block {
    display: block !important;
  }
}
/* .........................................md */
@media only screen and(min-width:768px) {
  .col-md-auto {
    width: auto;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333333%;
  }

  .offset-md-2 {
    margin-left: 16.66666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333333%;
  }

  .offset-md-5 {
    margin-left: 41.66666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333333%;
  }

  .offset-md-8 {
    margin-left: 66.66666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333333%;
  }

  .offset-md-11 {
    margin-left: 91.66666667%;
  }
  .d-md-none{
    display: none;
  }
  .d-md-block {
    display: block !important;
  }
}
/* ........................................lg */
@media only screen and(min-width: 992px) {
  .col-lg-auto {
    width: auto;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.33333333%;
  }

  .offset-lg-2 {
    margin-left: 16.66666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333333%;
  }

  .offset-lg-5 {
    margin-left: 41.66666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333333%;
  }

  .offset-lg-8 {
    margin-left: 66.66666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333333%;
  }

  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
  .d-lg-none{
    display: none;
  }
  .d-lg-block {
    display: block !important;
  }
}
/* ........................................xl */
@media only screen and(min-width: 1200px) {
  .col-xl-auto {
    width: auto;
  }

  .col-xl-1 {
    width: 8.33333333%;
  }

  .col-xl-2 {
    width: 16.66666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33333333%;
  }

  .col-xl-5 {
    width: 41.66666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33333333%;
  }

  .col-xl-8 {
    width: 66.66666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.33333333%;
  }

  .col-xl-11 {
    width: 91.66666667%;
  }

  .col-xl-12 {
    width: 100%;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
  .d-xl-none{
    display: none;
  }
  .d-xl-block {
    display: block !important;
  }
}
/* .......................................xxl */
@media only screen and(min-width: 1400px) {
  .col-xxl-auto {
    width: auto;
  }

  .col-xxl-1 {
    width: 8.33333333%;
  }

  .col-xxl-2 {
    width: 16.66666667%;
  }

  .col-xxl-3 {
    width: 25%;
  }

  .col-xxl-4 {
    width: 33.33333333%;
  }

  .col-xxl-5 {
    width: 41.66666667%;
  }

  .col-xxl-6 {
    width: 50%;
  }

  .col-xxl-7 {
    width: 58.33333333%;
  }

  .col-xxl-8 {
    width: 66.66666667%;
  }

  .col-xxl-9 {
    width: 75%;
  }

  .col-xxl-10 {
    width: 83.33333333%;
  }

  .col-xxl-11 {
    width: 91.66666667%;
  }

  .col-xxl-12 {
    width: 100%;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }
  .d-xxl-none{
    display: none;
  }
  .d-xxl-block {
    display: block !important;
  }
}
/* .....................................display */
.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-grid {
  display: grid !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-none {
  display: none !important;
}

/* ......................................xxl */
