@font-face {
  font-family: Agane45;
  src: url(../font/Agane╠Ç\45\\light\.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}
* {
  direction: ltr;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ............. public style */
.container-fluid {
  width: 100%;
  margin: auto;
  position: relative;
}
.container {
  max-width: 768px;
  margin: auto;
  position: relative;
}
.row {
  /* // @include flex(flex,flex-start,end); */
  /* @include flex(flex, center, null); */
  width: 100%;
}
.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}
.mt-550 {
  margin-top: 550px;
}
.mt-250 {
  margin-top: 250px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-200 {
  margin-bottom: 200px;
}
.offset-right-2{
  margin-right: 25%;
}
/* ..........................................body */
.all-body {
  background-color: rgba(236, 236, 236, 0.986);
  background-image: url(../img/istockphoto-1328919989-170667a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* width:calc(100% - 320px) ; */
}
/* .............................................. */
