/* @font-face {
    font-family: vazir-Medium;
    src: url(#{$font-path}/Vazir-Medium.eot) format("eot"),
      url(#{$font-path}/Vazir-Medium.woff2) format("woff2"),
      url(#{$font-path}/Vazir-Medium.woff) format("woff");
    font-weight: 700;
    font-style: normal;
  } */

@font-face {
  font-family: Agane45;
  src: url(../font/Agane╠Ç\45\\light\.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}
* {
  direction: ltr;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ............. public style */
.container-fluid {
  width: 100%;
  margin: auto;
  position: relative;
}
.container {
  /* max-width: 1536px; */
  /* max-width: 768px; */
  margin: auto;
  position: relative;
}
.row {
  /* // @include flex(flex,flex-start,end); */
  /* @include flex(flex, center, null); */
  width: 100%;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}
.mt-550 {
  margin-top: 550px;
}
.mt-250 {
  margin-top: 250px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-200 {
  margin-bottom: 200px;
}

/* ..........................................body */
.all-body {
  background-color: rgba(236, 236, 236, 0.986);
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* .............................start top nav */
.top-navbar {
  background-color: rgba(250, 250, 250, 0.986);
  width: 100%;
  height: 70px;
}
.top-navbar-head {
  display: flex;
  justify-content: space-between;
}
/* right */
.right ul {
  display: flex;
  flex-direction: row;
}
.right ul li {
  background-color: rgb(239, 238, 238);
  margin: 2px;
  padding: 20px;
  font-weight: bold;
}
.right:nth-child(3) {
  color: red;
}
.right ul li i {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  color: red;
}
/* left */
.left {
  font-size: 30px;
  padding: 10px;
}
.left span {
  color: red;
}
/* end top nav */
/* .............................start nav */
.nav {
  background-color: black;
  margin: 0;
}
.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -18px;
  padding: 5px;
}
.nav ul li {
  padding: 0 30px;
  color: white;
  font-size: 14px;
}
/* end  nav */
/* .............................start header */
.header{
    overflow: hidden;
}
.header img {
  width: 100%;
  height: 370px;
}
.tittle-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.position {
  display: block;
  position: relative;
}
.absolute{
    display: flex;
    position: absolute;
    top: 20px;
    gap: 40px;
}
.heeed .heeed-title{
    color: white;
    font-size: 30px;
    /* text-align: justify; */
}
.heeed .small-title{
    color: rgb(213, 211, 211);
    font-size: 10px;
}
.absolute img{
    border-radius: 50%;
    margin-right: 16.66666667%;
}
.header-left {
  display: flex;
  flex-basis: 40%;
}
/* ....... */
.header-right {
  display: flex;
  flex-basis: 40%;
}
/* ........................buttom-header */
.buttom-header-fluid {
  background-color: #e0dfdfd0;
  height: auto;
}
.buttom-header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  
}

.buttom-header form label {
  color: red;
  font-weight: bold;
  /* width: 220px; */
  /* background-color: #eaeaeac0; */
  text-align: right;
  padding: 5px;
}
.buttom-header form input {
  border: none;
  background-color: #a5a5a5;
  margin-right: -5px;
  outline-style: none;
}
.buttom-header form i {
  background-color: red;
  color: white;
  padding: 4px;
  margin: 0;
}
.icon{
    margin-right: 55px;
}
.size-icon {
  font-size: 22px;
  padding-left: 10px;
}

/* end  header */
/* ...................................start body */
.body {
  /* margin-top: 60px; */
  background-color: #efefef;
}
.gap {
  display: flex;
  gap: 20px;
}
/* ..............................sidbar */
.sidbar {
  /* display: flex; */
  /* flex-basis: 20%; */
  border-right: 2px solid rgb(226, 226, 226);
}

/* .product-menu{
} */
.product-menu-title {
  background-color: red;
  color: white;
  padding: 5px 18px;
  width: 100%;
  margin-top: 10px;
}
.product-menu-ul {
}
.product-menu-ul a {
  text-decoration: none;
  color: black;
  font-size: large;
}
.product-menu-ul a li {
  border-bottom: 2px solid rgb(226, 226, 226);
  width: 100%;
  padding-left: 2px;
  padding-bottom: 8px;
}

.product-menu-ul a li::before {
  content: "\2022";
  color: rgb(215, 221, 18);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 20px;
}
/* ...................................map */
.map {
  /* background-color: tomato; */
  width: 200px;
  height: 200px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
}
/* ..........................from-twitter */
.from-twitter {
  margin-top: 230px;
  width: 95%;
}
.title-from-twitter {
  color: red;
  font-weight: bold;
}
.icon-text {
  display: flex;
  flex-direction: row;
}
.icon-twitter {
  padding-right: 15px;
}
.from-twitter ul li {
  font-size: 12px;
  text-align: justify;
  margin-bottom: 20px;
}
.icon-text i {
  color: rgb(213, 213, 213);
  font-size: 18px;
}

.color-red {
  color: red;
}
/* ......................................... */
.happy-clients {
  width: 95%;
}
.title-happt-clients {
  font-weight: bold;
}

.body-happy-clients {
  padding: 19px;
  background-color: rgb(250, 250, 250);
}
.happy-clients p {
  font-size: 12px;
  text-align: justify;
  margin-bottom: 20px;
}
.icon-happy-clients {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.icon-user {
  padding-right: 15px;
}
.name-clients {
  font-size: 14px;
  font-weight: bold;
}

/* ...............................................card */
.all-card {
  display: flex;
  flex-basis: 70%;
  /* border: 2px solid rgb(222, 222, 222); */
  height: auto;
  flex-direction: row;
  overflow: hidden;
}

/* ......................card 1 */
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8,
.card-9,
.card-10,
.card-11,
.card-12,
.card-13 {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* height: auto; */
  height: 390px;
  border: 1px solid #efefef;
  padding: 6px;
  box-shadow: 2px 2px 2px 2px #eaeaea;
  background-color: white;
}
.card-1 img,
.card-2 img,
.card-3 img,
.card-4 img,
.card-5 img,
.card-6 img,
.card-7 img,
.card-8 img,
.card-9 img,
.card-10 img,
.card-11 img,
.card-12 img,
.card-13 img {
  width: 100%;
  height: 195px;
}
.card-text {
  padding: 8px 3px;
}
.line-card {
  border-top: 1px solid #efefef;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
}
.line-card a {
  width: 80px;
  height: 30px;
  background-color: red;
  color: white;
  outline-style: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ......................row 2 */
.flex-wrap {
  display: flex !important;
  flex-wrap: wrap !important;
}
/* ......................card 2 */
.card-2 img {
  width: 100%;
  height: 170px;
}
/* end body */
/* ...................................start footer */
.footer {
  background-color: #eaeaea;
  width: 100%;
  height: 300px;
}
.footer-row {
}
.column-1,
.column-1,
.column-2,
.column-3 {
  display: flex;
  flex-direction: column;
  border-right: 4px solid #efefef;
  padding: 50px 0;
}
.tittle-footer {
  font-weight: bold;
}

.header-footer {
  font-size: 25px;
}
.header-footer span {
  color: red;
}
.body-footer {
  text-align: justify;
  /* width: 200px; */
  font-size: 13px;
}

.column-2 ul li i {
  padding: 0 8px;
  color: red;
}
.column-2 ul li a {
  color: black;
  text-decoration: none;
}
.column-2 ul li a:hover {
  color: rgb(255, 1, 1);
  font-weight: bold;
}
.column-3 {
  border: none;
}
.column-3-body {
  display: flex;
  flex-direction: row;
  gap: 10%;
}
/* end footer  */
