/* ..............................(max-width: 576px) exsm*/

@media (max-width: 576px) {
  /* ********** nav */
  .top-nav,
  .bottom-nav {
    display: none;
  }
  /* ********* Menu-hamperger */
  .Menu-hamperger {
    display: block;
  }
}
/* .............................(min-width: 576px) sm */
@media (min-width: 576px) {
    .d-block-sm{
        display: block;
    }
    .d-none-sm{
        display: none;
    }
  /* ********** nav */
  .top-nav,
  .bottom-nav {
    display: none;
  }
  /* ********* Menu-hamperger */
  .Menu-hamperger {
    display: block;
  }
}
/* .............................(min-width: 768px) lg */
@media (min-width: 768px) {
    .d-block-lg{
        display: block;
    }
    .d-none-lg{
        display: none;
    }
  /* ********** nav */
  .top-nav,
  .bottom-nav {
    display: block;
  }
  /* ********* Menu-hamperger */
  .Menu-hamperger {
    display: none;
  }
}
/* .............................(min-width: 992px) xl */
@media (min-width: 992px) {
    .d-block-xl{
        display: block;
    }
    .d-none-xl{
        display: none;
    }
  /* ********** nav */
  .top-nav,
  .bottom-nav {
    display: block;
  }
  /* ********* Menu-hamperger */
  .Menu-hamperger {
    display: none;
  }
}
/* .............................(min-width: 1200px) xxl*/
@media (min-width: 1200px) {
    .d-block-xxl{
        display: block;
    }
    .d-none-xxl{
        display: none;
    }
  /* ********** nav */
  .top-nav,
  .bottom-nav {
    display: block;
  }
  /* ********* Menu-hamperger */
  .Menu-hamperger {
    display: none;
  }
}
