*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    position: relative;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgb(185, 226, 231);
    position: absolute;
    overflow: hidden;
}

.wrapper .course-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 39px;
    color: rgba(67, 67, 255, 0.918);
    font-weight:bold;
    padding: 100px;
    background-color: rgb(240, 251, 255);
}
/* ** Az Fontawsome ye icon HAMBERGER entekhab bokonim ** */
.wrapper span.menu{
    z-index: 99;
    position: absolute;
top: 20px;
left: 10px;
width:35px;
height: 4px;
background-color: rgb(91, 230, 91);
cursor: pointer;
}
.wrapper span.menu::before,.wrapper span.menu::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 35px;
    height: 4px;
    background-color: rgb(91, 230, 91);
}
.wrapper span.menu::before{
    top: -8px;
}
.wrapper span.menu::after{
    bottom: -8px;
}
.wrapper div.title {
    position: absolute;
    top: 250px;
    left: 260px;
    width:190px;
    height: 90px;
    background-color: #efef;
    cursor: pointer;

}
.wrapper .title h1{
    font-size: 25px;
    color: rgba(2, 2, 119, 0.904);
    /* align-items: center;
    justify-content: center; */
    padding: 15px;

}



.over-lay{
    position: absolute;
    padding-top: 500px;
}