.body{
    border: 1px solid rgba(255, 255, 255, 0.596);
    width: 70%;
    min-height: auto;
   line-height: 1.5;
    background-color: rgb(255, 255, 255);
    margin-left: 0;
    margin-right:0;
    padding: 0%;
    box-sizing: border-box;
    transform: translate(0%,0%);
  }
 
  /* logo********************************************** */
  .logo img{
    width: 61px;
    height: 65px;
    position: fixed;
    top: 11px;
    left:-209px;
  }
 
 /* menu********************************************** */
 nav.nav{
   background-image:linear-gradient(to right,white,rgb(162, 197, 185));
    position:fixed; 
     top: 25px; 
    left: 100px;
    right: -287px;
    height: 50px;
    text-align: right;
    font-size: 14px;
 }
 ul.menu li{
   display:inline-block;
   padding: 0px;
   /* margin-left: 5px;
   position: fixed;
   top:20px; */
 }  
 ul.menu li a{
   margin: 0px 58px 0px 0px;
   text-decoration: none;
 }
 
 li a{
   color: rgba(247, 133, 57, 0.788);
 }
 .menu li a:hover{
   color: rgb(243, 140, 56);
   text-decoration: underline;
 }
 .menu li a:active{
   background-color:rgb(140, 194, 176);
 }
 .menu li a:visited{
  background-color: rgb(129, 143, 138);
 }
 
 /* sub menu********************************************** */
 .has_sub_menu1 ul{
 position: relative;
 }
 .sub_menu1 li{
 display: block;
 position: absolute;
 }
 
 .sub_menu2 li{
   display: block;
   position: absolute;
 
 }
 
 .sub_menu3 li{
   display: block;
   position: absolute;
 } 
 
 .search input{
 width: 200px;
 height: 44px;
   color: rgb(0, 0, 0);
   font-size: 15px;
   position: fixed;
   top: 25px;
   left: -110px;
   border-color: hsla(180, 21%, 78%, 0.035);
   border-right-color: rgba(240, 255, 240, 0.007);
   border-left-color: rgba(255, 255, 255, 0.007);
 }
p.p{
    width: 50px;
    height: 50px;
    color: red;
    
}
 /* search******************************************* */
 section.box{
     width: 500px;
     height: 400px;
     border: 4px solid red;
     padding:70px 60px;
     margin: 100px;
 }
 /* .search input:active{
   border-color: rgb(253, 253, 253); 
    border-collapse: collapse;
   }
   
   input[type= text],[type= submit]select{
display: inline-block;
border:10px solid black;
width: 100%;
height: 200px;
padding: 12px 20px;
margin: 10px 0px; */


/* position: fixed;
top: 100px; 
   }*/
   
   /* form.form {
border:10px solid black;
width: 100px;
height: 200px;
position: fixed;
top: 100px;

   } */
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   /* footer********************************************** */
hr.hrfooter{
    color: rgb(37, 122, 101);
  width: 70%;
  height: 0px;
    position: fixed;
    top: 2200px;
   left: 181px; 
  }
  .footer{
    border: 3px solid rgb(32, 95, 87);
    width: 70%;
    height: 490px;
    position: relative;
    position: fixed;
    top: 2290px; ;
  left: 179px;
  box-shadow: 0 22px 40px 0 rgba(212, 107, 8, 0.418);
  letter-spacing: 2px;
  word-spacing: 8px;
  text-align: center;
  color: black;
  }
  .footerhedear{
    font-style: bold;
    font-weight: 00;
    font-size: 25px;
 
    
  }
  .footer1{
    display: block;
    border: 1px solid rgb(255, 255, 255);
    width: 200px;
    height: 330px;
    position: fixed;
    top: 2296px; ;
    left: 181px;
    line-height: 60px;
    font-size: 19px;
    /* color: black; */
  
  }
  .footer2{
    display: block;
    border: 1px solid rgb(255, 255, 255);
    width: 200px;
    height: 330px;
    position: fixed;
    top: 2296px; ;
    left: 460px;
    line-height: 60px;
    font-size: 19px;
  }
  
  .footer3{
    display: block;
    border: 1px solid rgb(255, 255, 255);
    width: 249px;
    height: 330px;
    position: fixed;
    top: 2296px; ;
    left: 739px;
    line-height: 60px;
    font-size: 19px;
  }
  .icon{
    width: 270px;
  height: 40px;
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  top: 2688px;
  left: 387px;
  display: inline-block;
  
  }
  .icon a img{
    width: 30px;
  border-radius: 50%;
  margin-left: 20px;
  /* top: 269px; */
  }
  
  /* order: 4; جایگاه یک خط را عوض میکند */
  
  
  .logofooter img{
    width: 104px;
    height: 125px;
    position: fixed;
    top: 2654px;
    left: 278px;
  
  }
  
  .informationme{
    width: 339px;
  height: 40px;
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  top: 2726px;
  left: 409px;
  color: rgb(6, 31, 31);
  }