
 .body{
   border: 1px solid black;
   width: 70%;
   min-height: auto;
  line-height: 1.5;
   background-color: rgb(255, 255, 255);
   margin-left: auto;
   margin-right: auto;
   padding: 0%;
   box-sizing: border-box;
   transform: translate(0%,0%);
    
   
 }
 .logo img{
   width: 61px;
   height: 65px;
   position: fixed;
   top: 11px;
   left:-98px;
 }

nav.nav{
  background-image:linear-gradient(to right,white,rgb(162, 197, 185));
   position:fixed; 
    top: 25px; 
   left: 100px;
   right: -287px;
   height: 50px;
   text-align: right;
   font-size: 14px;
/* width: 200%;  */
/*z-index: 440;*/
}
ul.menu li{
  display: inline;
  padding: 0px;
}  
ul.menu li a{
  margin: 0px 35px 0px 0px;
  text-decoration: none;
}

li a{
  color: rgba(247, 133, 57, 0.788);
}
.menu li a:hover{
  color: rgb(243, 140, 56);
  text-decoration: underline;
}
.menu li a:active{
  background-color:rgb(140, 194, 176);
}
.menu li a:visited{
 background-color: rgb(129, 143, 138);
}

section.header h1{
  font-size: 45px;
  color: rgb(23, 110, 81);
  text-align: justify;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 50px;
  text-transform: uppercase;
}
section.header h3{
  font-size: 25px;
  width: 700px;
  background: rgb(255, 255, 255);
  color: rgb(120, 175, 157); 
  word-spacing: px;
}

/* 
section .main.boximage{
  background-color: rgb(153, 168, 168);
  border: 10px solid rgb(0, 0, 0);
  position:fixed;
  top: 50px; ;
  left: 100px;
  right: 50px; ;
}*/

.imgbackgrond{
 /* background-color: rgb(209, 143, 143); */
 border: 1px  solid rgb(155, 131, 223);
width: 90%;
  height: 450px;
margin-right: auto;
margin-left:auto;
  /* display: flex;
  justify-content: center; */
  position: relative; 
  } 
 .imgbackgrond img{
  width: 350px;
  height: 333px;
  border-radius: 30%;
  position: absolute;
  top: 493px;
  /* left: 200px; */
  box-shadow: 0 12px 40px 0 rgba(95,95,95,.5);
 }
 .img1 img{
  position: fixed;
  left:67px;
  filter:brightness(0.);
 }
 .img2 img{
  position: fixed;
  left:495px;
 }
 .img3 img{
position: fixed;
left:915px;
 }
.imgbackgrond a{
width: 20%;
font-size: 20px;
color: rgb(42, 95, 77);
font-family: Verdana, Geneva, Tahoma sans-serif;
text-align: center;
font-weight: 600;
top:837px;
/* max-width: 1140px */
}
.img1 a{
position: fixed;
left:110px;

}
.img2 a{
position: fixed;
text-align: center;
left: 550px;
}
.img3 a{
text-align: center;
position: fixed;
left: 970px;
}
.img4{
  /* background-color: red; */
  width: 60%;
  height: 400px;
  position: fixed;
  left: 248px;
top: 1011px;
}
.wrapper img{
width: 330px;
height: 400px;
position: fixed;
left: 1001px;
top: 1060px;
background-color: #fffffff8;
border-radius: 20px;
box-shadow: 0 12px 40px 0 rgba(95,95,95,.5);
/* margin-left: 80px; 
object-fit:content ya fill;
height:15px;
width:20px;    p34b*/

}
.wrapper h2{
  /* width: 700px;
  height:auto; */
  border: 1px solid black;
  position: fixed;
  top:  1060px;
  left:  191px;
  color: rgb(36, 114, 88);
 /* text-align: justify; */
 line-height: 1.5;
 font-size: 33px;
}
.wrapper h4{
  width: 700px;
  height:auto;
  border: 2px solid rgb(134, 121, 121);
  position: fixed;
  top:  1140px;
  left:  217px;
  color: rgb(53, 94, 79);
  font-size: 18px;
  text-align: left;
 line-height: 1.90;
 font-size: 20px;
 text-indent: 20px;
 box-sizing: border-box;
 white-space:pre-line;
}
/* .wrapper ::after, ::before {
  box-sizing: border-box;
} */






















/* .container{ 
  width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto
}

.footer li{
  list-style: none;
  display: inline;
}

h6.footerh6{
  color: rgb(23, 110, 81);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

div.allfooter li a{
  display: inline;
}

/*.cleatfix{
  clear: both;
}
........................................
* BARAYE ICON YA AKS VASAT SAFEH *
.img img{
  width:30% ;
  height:76%;
  border-radius: 30%;
  position:fixed;
  top: 100px;
  .......................................