@font-face {
  font-family: vazir-Medium;
  src: url(../assets/font/Vazir-Medium.eot) format("eot"), url(../assets/font/Vazir-Medium.woff2) format("woff2"), url(../assets/font/Vazir-Medium.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "vazir-Medium";
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "vazir-Medium";
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

.mt-250 {
  margin-top: 250px;
}

#nav .navbar {
  font-size: 18px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 24px 0;
}
#nav .navbar ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 0 0 18px;
  position: relative;
  cursor: pointer;
}
#nav .navbar ul li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 0px;
  height: 2px;
  background-color: rgb(54, 114, 228);
  transition: width 0.5s ease;
}
#nav .navbar ul li:hover::after {
  width: 100%;
}
#nav .navbar ul li a {
  color: rgb(46, 46, 46);
  transition: color 0.5s ease;
}
#nav .navbar ul li a:hover {
  color: rgb(58, 114, 227);
}
#nav .navbar .social-icons {
  direction: ltr;
  padding: 21px 0 0 0;
}
#nav .navbar .social-icons a {
  color: #545858;
  transition: color 1.5 ease;
}
#nav .navbar .social-icons a:hover {
  color: #413d3d;
}
#nav .navbar .social-icons a i {
  padding: 0px 10px 0px 10px;
}

#nav .navbar {
  font-size: 18px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 24px 0;
}
#nav .navbar ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 0 0 18px;
  position: relative;
  cursor: pointer;
}
#nav .navbar ul li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 0px;
  height: 2px;
  background-color: rgb(54, 114, 228);
  transition: width 0.5s ease;
}
#nav .navbar ul li:hover::after {
  width: 100%;
}
#nav .navbar ul li a {
  color: rgb(46, 46, 46);
  transition: color 0.5s ease;
}
#nav .navbar ul li a:hover {
  color: rgb(58, 114, 227);
}
#nav .navbar .social-icons {
  direction: ltr;
  padding: 21px 0 0 0;
}
#nav .navbar .social-icons a {
  color: #545858;
  transition: color 1.5 ease;
}
#nav .navbar .social-icons a:hover {
  color: #413d3d;
}
#nav .navbar .social-icons a i {
  padding: 0px 10px 0px 10px;
}

#nav .navbar {
  font-size: 18px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 24px 0;
}
#nav .navbar ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 0 0 18px;
  position: relative;
  cursor: pointer;
}
#nav .navbar ul li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 0px;
  height: 2px;
  background-color: rgb(54, 114, 228);
  transition: width 0.5s ease;
}
#nav .navbar ul li:hover::after {
  width: 100%;
}
#nav .navbar ul li a {
  color: rgb(46, 46, 46);
  transition: color 0.5s ease;
}
#nav .navbar ul li a:hover {
  color: rgb(58, 114, 227);
}
#nav .navbar .social-icons {
  direction: ltr;
  padding: 21px 0 0 0;
}
#nav .navbar .social-icons a {
  color: #545858;
  transition: color 1.5 ease;
}
#nav .navbar .social-icons a:hover {
  color: #413d3d;
}
#nav .navbar .social-icons a i {
  padding: 0px 10px 0px 10px;
}

#nav .navbar {
  font-size: 18px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 24px 0;
}
#nav .navbar ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 0 0 18px;
  position: relative;
  cursor: pointer;
}
#nav .navbar ul li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 0px;
  height: 2px;
  background-color: rgb(54, 114, 228);
  transition: width 0.5s ease;
}
#nav .navbar ul li:hover::after {
  width: 100%;
}
#nav .navbar ul li a {
  color: rgb(46, 46, 46);
  transition: color 0.5s ease;
}
#nav .navbar ul li a:hover {
  color: rgb(58, 114, 227);
}
#nav .navbar .social-icons {
  direction: ltr;
  padding: 21px 0 0 0;
}
#nav .navbar .social-icons a {
  color: #545858;
  transition: color 1.5 ease;
}
#nav .navbar .social-icons a:hover {
  color: #413d3d;
}
#nav .navbar .social-icons a i {
  padding: 0px 10px 0px 10px;
}

#nav .navbar {
  font-size: 18px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 24px 0;
}
#nav .navbar ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 0 0 18px;
  position: relative;
  cursor: pointer;
}
#nav .navbar ul li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 0px;
  height: 2px;
  background-color: rgb(54, 114, 228);
  transition: width 0.5s ease;
}
#nav .navbar ul li:hover::after {
  width: 100%;
}
#nav .navbar ul li a {
  color: rgb(46, 46, 46);
  transition: color 0.5s ease;
}
#nav .navbar ul li a:hover {
  color: rgb(58, 114, 227);
}
#nav .navbar .social-icons {
  direction: ltr;
  padding: 21px 0 0 0;
}
#nav .navbar .social-icons a {
  color: #545858;
  transition: color 1.5 ease;
}
#nav .navbar .social-icons a:hover {
  color: #413d3d;
}
#nav .navbar .social-icons a i {
  padding: 0px 10px 0px 10px;
}

#header header {
  width: 100%;
  margin: 100px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#header header .right {
  position: relative;
  display: flex;
  flex-basis: 57%;
  max-width: 57%;
}
#header header .right .gear-1 {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 40px;
  color: rgb(107, 107, 107);
  -webkit-animation: gear-1 13s infinite linear;
          animation: gear-1 13s infinite linear;
}
@-webkit-keyframes gear-1 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes gear-1 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .right .gear-2 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: rgb(78, 78, 78);
  -webkit-animation: gear-2 13s infinite linear;
          animation: gear-2 13s infinite linear;
}
@-webkit-keyframes gear-2 {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes gear-2 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .right .sq-1 {
  position: absolute;
  top: 0;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 4px solid #efefef;
  -webkit-animation: sq-1 15s infinite linear;
          animation: sq-1 15s infinite linear;
}
@-webkit-keyframes sq-1 {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes sq-1 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .right .sq-2 {
  position: absolute;
  bottom: -20px;
  left: 50px;
  width: 40px;
  height: 40px;
  border: 4px solid #569e86;
  -webkit-animation: sq-2 40s infinite linear;
          animation: sq-2 40s infinite linear;
}
@-webkit-keyframes sq-2 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sq-2 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .right .sq-3 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(86, 158, 134, 0.4392156863);
  -webkit-animation: sq-3 20s infinite linear;
          animation: sq-3 20s infinite linear;
}
@-webkit-keyframes sq-3 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sq-3 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .left {
  display: flex;
  flex-direction: column;
  padding: 17% 0 0 0;
  display: flex;
  flex-basis: 29%;
  max-width: 29%;
}
#header header .left h1 {
  font-size: 34px;
  margin: 0 0 30px 0;
}

#course {
  position: relative;
}
#course .pipe {
  position: absolute;
  width: 1726px;
  height: 370px;
  background: rgba(140, 124, 229, 0.137);
  top: 83px;
  left: -366px;
  border-radius: 0 250px 250px 0;
}
#course .row .course {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-basis: 30%;
  max-width: 30%;
  margin: 0px 16px 0 16px;
  background-color: #ffffff;
  position: relative;
  border-bottom: 10px solid rgb(13, 241, 154);
  cursor: pointer;
  transition: 0.5s ease;
}
#course .row .course:hover {
  box-shadow: 0 0 13px 0 rgba(95, 95, 95, 0.5);
}
#course .row .course:hover .teacher {
  top: -54px;
}
#course .row .course:hover .teacher-name {
  display: inline-block;
  width: 200px;
  right: 100px;
  top: -25px;
  transition: right 1.5s ease;
}
#course .row .course .status {
  position: absolute;
  font-size: 16px -4px;
  left: 10px;
  top: 10px;
  background-color: rgba(159, 206, 228, 0.966);
  color: #fff;
  padding: 2px 6px 2px 6px;
  border-radius: 2px 2px 2px 2px;
}
#course .row .course .teacher {
  position: absolute;
  top: -16px;
  right: -30px;
  width: 104px;
  z-index: -1;
  transition: top 1s ease;
}
#course .row .course .teacher-name {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 16px -3px;
  z-index: -2;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 1s ease;
}
#course .row a {
  margin: 10px 10px 10px 10px;
  font-size: 16px;
  color: #313131;
  padding: 80px 0 0 0;
}
#course .row .meta {
  display: flex;
  font-size: 16px -2px;
  margin: 0 10px 0 10px;
  padding: 16px 0px 12px 0px;
  border-top: 1px solid #efefef;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-top: 1px solid #efefef;
}
#course .row .meta span:nth-child(1) {
  margin-left: auto;
  margin: 0 0 0 0;
}
#course .row .meta span:nth-child(1) i {
  color: #45a1ff;
  margin: 0 0 0 0;
}
#course .row .meta span:nth-child(2) {
  padding: 0 8px 0 8px;
  color: #37b537;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.path {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.path .right-side {
  display: flex;
  flex-basis: 50%;
  max-width: 50%;
}
.path .left-side {
  display: flex;
  flex-basis: 45%;
  max-width: 45%;
}
.path .left-side .path-title {
  direction: ltr !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.path .left-side .path-title h2 {
  font-size: 26px;
  margin-bottom: 34px;
  color: #46484d;
}
.path .left-side .path-title p {
  font-size: 18px;
  line-height: 42px;
  color: #757272;
}

#topic {
  position: relative;
}
#topic::after, #topic::before {
  content: "";
  background-color: rgba(140, 124, 229, 0.5);
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 150px;
  left: -498px;
  transform: skewX(10deg);
  border-radius: 0 20px 50px 0;
}
#topic::after {
  position: absolute;
  bottom: 60px;
  left: -400px;
  transform: skewX(10deg);
  background-color: rgba(140, 124, 229, 0.295);
  border-radius: 0 20px 50px 0;
}
#topic .topic-titel {
  font-size: 26px;
  margin: 0 0 30px 0;
  border-right: 5px solid #569e86;
  padding: 10px 20px 0 0;
}
#topic .topic {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}
#topic .topic .card {
  display: flex;
  flex-basis: 49%;
  max-width: 49%;
  border: 1px solid #efefef;
  border-radius: 3px 3px 3px 3px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#topic .topic .card:hover .topic-img::after {
  opacity: 0.6;
}
#topic .topic .topic-img {
  display: flex;
  flex-basis: 30%;
  max-width: 30%;
  overflow: hidden;
  position: relative;
}
#topic .topic .topic-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#topic .topic .topic-detail {
  position: relative;
  display: flex;
  flex-basis: 70%;
  max-width: 70%;
  flex-direction: column;
  padding: 22px 32px 22px 22px;
}
#topic .topic .topic-detail::after {
  content: "";
  width: 37px;
  height: 118%;
  background-color: white;
  position: absolute;
  top: -2px;
  right: -20px;
  transform: rotate(5deg);
}
#topic .topic .topic-detail:hover {
  transform: translateX(-13px);
}
#topic .topic .topic-detail a {
  font-size: 18px;
}
#topic .topic .topic-detail .meta {
  font-size: 21px;
  margin-top: 15px;
  color: #ccc;
}
#topic .topic .topic-detail .meta span {
  margin-left: 16px;
  margin: 0 0 0 15px;
}
#topic .topic .topic-detail p {
  font-size: 16px -2px;
  margin: 20px 0 0 0;
  line-height: 20px;
}

#footer {
  background-color: rgb(155, 200, 183);
  padding: 80px 0px 0px 0;
  overflow: hidden;
}
#footer .footer .side-1 {
  display: flex;
  flex-basis: 30%;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  position: relative;
}
#footer .footer .side-1 h5 {
  color: #fff;
  margin: 0 0 32px 0;
  text-align: left;
  position: absolute;
  left: 70px;
  top: -28px;
}
#footer .footer .side-1 ul {
  font-size: 15px;
  margin: 1px 50px 40px 0;
}
#footer .footer .side-1 ul li {
  margin: 0 0 18px 0;
  color: #ededed;
}
#footer .footer .side-1 ul li i {
  margin: 7px 0px 0 12px;
}
#footer .footer .side-1 ul li i span {
  padding: 0 0px 0 10px;
}
#footer .footer .side-2 {
  display: flex;
  flex-basis: 30%;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
#footer .footer .side-2 ul {
  font-size: 16px -1px;
  margin: 0 0 40px 0;
}
#footer .footer .side-2 ul li {
  margin: 0 0 16px 0;
}
#footer .footer .side-2 ul li a {
  color: #f8f8f8;
  transition: color 0.5s ease;
}
#footer .footer .side-2 ul li a:hover {
  color: #3b8ddf;
}
#footer .footer .side-3 {
  flex-direction: column;
}
#footer .footer .side-3 p {
  color: #fff;
  margin: 0 0 26px 0;
  font-size: 16px;
  width: 100%;
}
#footer .footer .side-3 form {
  position: relative;
}
#footer .footer .side-3 form .email {
  width: 100%;
  height: 35px;
  padding: 10px 10px 10px 10px;
  border: 0;
  border-radius: 4px 4px 4px 4px;
  outline: none;
  text-align: left;
  color: rgb(58, 114, 227);
}
#footer .footer .side-3 form .submit {
  position: absolute;
  top: px;
  left: -47px;
  border: 0;
  width: 15%;
  height: 33px;
  border-radius: 4px 4px 4px 4px;
  outline: none;
  cursor: pointer;
  transition: color 0.2s ease;
}
#footer .footer .side-3 form .submit:hover {
  color: rgb(58, 114, 227);
}
#footer .copy-right {
  display: block;
  background-color: #487e7b;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 16px -2px;
}/*# sourceMappingURL=style.css.map */