@font-face {
  font-family: vazir-Medium;
  src: url(../assets/font/Vazir-Medium.eot) format("eot"), url(../assets/font/Vazir-Medium.woff2) format("woff2"), url(../assets/font/Vazir-Medium.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "vazir-Medium";
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "vazir-Medium";
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

#nav .navbar {
  font-size: 18px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 24px 0;
}
#nav .navbar ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 0 0 18px;
  position: relative;
  cursor: pointer;
}
#nav .navbar ul li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 0px;
  height: 2px;
  background-color: #3672e4;
  transition: width 0.5s ease;
}
#nav .navbar ul li:hover::after {
  width: 100%;
}
#nav .navbar ul li a {
  color: #2e2e2e;
  transition: color 0.5s ease;
}
#nav .navbar ul li a:hover {
  color: #3a72e3;
}
#nav .navbar .social-icons {
  direction: ltr;
  padding: 21px 0 0 0;
}
#nav .navbar .social-icons a {
  color: #545858;
  transition: color 1.5 ease;
}
#nav .navbar .social-icons a:hover {
  color: #413d3d;
}
#nav .navbar .social-icons a i {
  padding: 0px 10px 0px 10px;
}

#header header {
  width: 100%;
  margin: 100px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#header header .right {
  position: relative;
  display: flex;
  flex-basis: 57%;
  max-width: 57%;
}
#header header .right .gear-1 {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 40px;
  color: #6b6b6b;
  -webkit-animation: gear-1 13s infinite linear;
          animation: gear-1 13s infinite linear;
}
@-webkit-keyframes gear-1 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes gear-1 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .right .gear-2 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: #4e4e4e;
  -webkit-animation: gear-2 13s infinite linear;
          animation: gear-2 13s infinite linear;
}
@-webkit-keyframes gear-2 {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes gear-2 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .right .sq-1 {
  position: absolute;
  top: 0;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 4px solid #efefef;
  -webkit-animation: sq-1 15s infinite linear;
          animation: sq-1 15s infinite linear;
}
@-webkit-keyframes sq-1 {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes sq-1 {
  100% {
    transform: rotate(-360deg);
  }
}
#header header .right .sq-2 {
  position: absolute;
  bottom: -20px;
  left: 50px;
  width: 40px;
  height: 40px;
  border: 4px solid #569e86;
  -webkit-animation: sq-2 40s infinite linear;
          animation: sq-2 40s infinite linear;
}
@-webkit-keyframes sq-2 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sq-2 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .right .sq-3 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  border: 4px solid #569e8670;
  -webkit-animation: sq-3 20s infinite linear;
          animation: sq-3 20s infinite linear;
}
@-webkit-keyframes sq-3 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sq-3 {
  100% {
    transform: rotate(360deg);
  }
}
#header header .left {
  padding: 17% 0 0 0;
  display: flex;
  flex-basis: 29%;
  max-width: 29%;
}
#header header .left h1 {
  font-size: 34px;
  margin: 0 0 30px 0;
}

#course .row .course {
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-basis: 30%;
  max-width: 30%;
  margin: 0 16px 0 16px;
  background-color: #ffffff;
  position: relative;
  border-bottom: 40px solid #0df19a;
  cursor: pointer;
}
#course .row .course .status {
  position: absolute;
  font-size: 16px -4px;
}/*# sourceMappingURL=style.css.map */