*,
body {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-family: vazir-Medium;
}
body {
  direction: ltr;
}
a {
  list-style: none;
  text-decoration: none;
  /* decoration:none; */
}
figure {
  position: relative;
}
li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.red-color {
  background-color: red;
}
.yellow-color {
  background-color: yellow;
}
.blue-color {
  background-color: blue;
}
.green-color {
  background-color: green;
}
.gray-color {
  background-color: gray;
}
.m-50 {
  margin: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-220 {
  margin-top: 220px;
}
.p-0 {
  padding: 0 !important;
  /* background-color: rgba(75, 219, 171, 0.158); */
}
.m-0 {
  margin: 0px;
}
.text-center {
  text-align: center;
}
.img-respansive {
  width: 100%;
  height: auto;
  display: block; /* چون در زمان هاور از تصویر نزنه بیرون*/
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.round-corner {
  border-radius: 5px;
}
.box-shadow {
  box-shadow: 0px 0px 2px 0px #d0d0d0;
}
.container-fluid {
  width: 100%;
}

.container {
  clear: both;
  content: "";
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class^="col-"] {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}
/* ****** Animation ****** */
.transform span{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 20px 50px; */
  /* padding: 30px 22px; */
  color: blanchedalmond;
}
.transform {
  margin-top: 80px;
  width: 180px;
  height: 190px;
  color: black;
  background-color: red;
  /* transform:translate(10%,40%) rotate(45deg); */
  /* transform:translate(_50PX,_200PX); */
  /* transform: rotate(40deg); */
  /* transform: scale(2,2); */
  /* transform: skewX(80deg); */
  /* transform: matrix(1, 0.6, 0.2, 1, 20, 30); */
}
.transform:hover {
  transform: scale(2, 1.5);
  padding: 30px;
}

.transform-1 {
  margin-top: 80px;
  width: 180px;
  height: 190px;
  color: black;
  background-color: rgb(77, 117, 51);
  transform:rotate(-5deg);
  transform-origin: 10% 50%;
}
/* *prespective* */
.prespective{
  margin: 80px;
  width: 180px;
  height: 190px;
  color: black;
  background-color: rgb(248, 158, 158);
  /**position: relative;**/
  /* "position: relative" kar nemikoneh chon "perspective" roye onsere daruni kar mikoneh  */
  perspective: 200px;
}
.test{
  position: absolute;
  width: 80px;
  height: 90px;
  color: black;
  background-color: rgb(255, 251, 1);
  transform-style: preserve-3d;
  transform: rotateX(60deg);
}
/* * backface-visibility: visible* */
.test1{
 backface-visibility: visible;
}
.test2{
  backface-visibility:visible;
  transition: 5s ease; 

 }
 .test2:hover{
  backface-visibility:hidden;
 }
.test1 ,.test2{
  margin: 80px;
  width: 180px;
  height: 190px;
  color: rgb(255, 255, 255);
  background-color: rgb(44, 107, 109);
  transform: rotateY(180deg);
  /* transition: 5s ease;  */
}
/* <!-- *transition* --> */
a[class*="link"]{

  background-color: rgb(197, 143, 61);
  margin: 1px ;
  padding: 5px 10px;
  color: black;
  /* transition-property:   background-color; */
  transition-property: background-color,padding;
  /*transition-property:all; */
  transition-duration: 1s;
  /* transition-delay: 5s; */
}
a[class*="link"]:hover{
  background-color:green ;
  padding: 5px 30px;
  color: white;
}
.link{
  transition-timing-function:linear ;
}
.link2{
  transition-timing-function:ease ;
}
.link3{
  transition-timing-function:ease-in ;
}
.link4{
  transition-timing-function:ease-out ;
}
.link5{
  transition-timing-function:step-end ;
}
.link6{
  transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1) ;
}
.rotate{
  width: 180px;
  height: 190px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 24, 24);
  transition:  transform 1s ease;
}
.rotate:hover{
  transform: rotate(360deg);
 
}
.anime{
  width: 180px;
  height: 190px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 24, 139);
  animation-name: changcolor;
  animation-duration: 5s;
  animation-iteration-count: 2;
  /* animation-fill-mode:forwards ; */
  /* animation-fill-mode:both ;  */
  /* animation-fill-mode:backwards ; */
animation-play-state:running ;
animation-direction: alternate;
animation-timing-function: ease-in-out;
animation-delay: 2s;

  /* transition: anime 1s ease; */
}
@keyframes changcolor{
  from{background-color:rgb(255, 24, 139);
    width: 180px;
  }
  to{
    background-color: rgb(0, 162, 255);
    width: 300px;
  }
  /* 0%{}
  100%{} */
  
}
.anime-1{
  width: 180px;
  height: 190px;
  color: rgb(255, 255, 255);
  background-color: chartreuse;
  animation-name: changcolor-1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/* so diferent */
@keyframes changcolor-1{
  0%{
    background-color: chartreuse;
    width: 180px;

  }
  25%{
    background-color: rgb(255, 0, 0);
    width: 200px;

  }
  50%{background-color: rgb(0, 183, 255);
    width: 220px;

  }
  75%{background-color: rgb(0, 0, 0);
    width: 240px;

  }
  100%{background-color: rgb(255, 0, 191);
    width: 260px;
} 
}