@font-face {
    font-family: Vazir-Medium;
    src: url(../Project1/font/Vazir-Medium.eot) format("eot"),
      url(../Project1/font/Vazir-Medium.woff) format("woff"),
      url(../Project1/font/Vazir-Medium.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}
html{
    font-size: 16px;
}

*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazir-Medium;
}
body{
    direction: rtl;
}
/* rem****************************** */
.p-1{
    width: 100%;
    background-color: crimson;
    font-size: 2rem;
}
/* emm****************************** */
.pp{
    font-size: 20px;
}
.p-2{
    width: 100%;
    background-color: rgb(90, 20, 220);
    font-size: 3em;
}
/* vh****************************** */
.img-vh{
    width: 100px;
    /* height:100vh          100%screen*/
     min-height: 100vh;      /* 100% allscreen and document */

}

/* .container{
   width: 100px;
    min-height: 100vh;
  
} */
/* vw****************************** */
img-vw{
    min-width: 100vw;
    height: 100vh;
}