*,
body {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-family: vazir-Medium;
}
body {
  direction: rtl;
}
a {
  list-style: none;
  text-decoration: none;
  /* decoration:none; */
}
figure {
  position: relative;
}
li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.red-color {
  background-color: red;
}
.yellow-color {
  background-color: yellow;
}
.blue-color {
  background-color: blue;
}
.green-color {
  background-color: green;
}
.gray-color {
  background-color: gray;
}
.m-50 {
  margin: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-220 {
  margin-top: 220px;
}
.p-0 {
  padding: 0 !important;
  /* background-color: rgba(75, 219, 171, 0.158); */
}
.m-0 {
  margin: 0px;
}
.text-center {
  text-align: center;
}
.img-respansive {
  width: 100%;
  height: auto;
  display: block; /* چون در زمان هاور از تصویر نزنه بیرون*/
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.round-corner {
  border-radius: 5px;
}
.box-shadow {
  box-shadow: 0px 0px 2px 0px #d0d0d0;
}
.container-fluid {
  width: 100%;
}

.container {
  clear: both;
  content: "";
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class^="col-"] {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}
/* STYLE.CSS    ******************************************* */
/* start contact section *******************************/
.container-fluid-custom {
  background-color: rgb(110, 110, 110);
  color: white;
  height: 58px;
}

.container-fluid-custom .contact {
  font-size: 15px;
}

.container-fluid-custom .contact i {
  color: rgb(230, 178, 144);
  margin-right: -23px;
  /* font-size: 20px; */
  vertical-align: -19px;
  margin-left: 40px;
}

.container-fluid-custom .contact span {
  color: white;
  vertical-align: -1px;
  padding-left: 7px;
}

.container-fluid-custom .social-media {
  direction: ltr;
}
.container-fluid-custom .social-media i {
  padding-left: 15px;
}
.container-fluid-custom .social-media a i:hover {
  background-color: rgb(0, 255, 179);
  border-radius: 5px;
}
/* end contact section */
/* start navbar section*******************************/
.active {
  border-bottom: 3px solid rgb(194, 97, 62);
}
nav.icon-decor {
  width: 150px;
  height: 50px;
}

.nav {
  background-color: rgba(255, 255, 255, 0.63);
  /* overflow: hidden; */
  /* display:inline; */
  box-shadow: 1px 2px 1px #efefef;
  position: sticky;
  top: 20px;
}

.nav a {
  float: right;
  color: rgb(61, 67, 73);
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
  text-decoration: none;
}
.nav a:hover {
  border-bottom: 3px solid rgb(194, 97, 62);
}
.icon {
  display: none;
}
@media only screen and (max-width: 600px) {
  .nav a:not(:first-child)/* تمام تگ های aبه جز اولی*/ {
    display: none;
  }
  .nav a.icon {
    display: block;
    float: left;
  }
  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}
/* end navbar section*/

/* start header section********************************  */

.img-header {
  height: 10px;
  min-height: 86vh;
}
.overlay {
  width: 100%;
  background-color: rgba(5, 4, 4, 0.418);
  min-height: 86vh; /*چون نمیتونه نسبت عرض رو به ارتفاع تشخیص بده پس باید min-heigh بزاریم*/
}

.header-title {
  color: white;
  margin: 260px;
  max-width: 500px;
}
.header-title a {
  background-color: rgba(252, 91, 33, 0.548);
  padding: 5px 15px;
  border-radius: 3px;
  color: white;
  margin-top: 20px;
  float: left;
  margin-left: 260px;
  letter-spacing: 1px;
}
@media only screen and (max-width: 1200px) {
  .header-title {
    width: 100%;
    margin: 0; /*چون میزنه بیرون متن , باید مارجین 0بدیم */
    color: rgb(253, 253, 253);
    background-color: rgba(121, 121, 121, 0.459);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    font-size: 16px;
  }
  .header-title a {
    margin-left: 220px;
  }
  /* .overlay,
  .img-header {
    min-height: 100%;
  } */
}

@media only screen and (max-width: 500px) {
  .header-title h1 {
    font-size: 20px;
  }
  .header-title h2 {
    font-size: 16px;
  }
  .header-title a {
    font-size: 10px;
    margin-left: 290px;
    letter-spacing: 0px;
    padding: 4px 9px;
    position: absolute;
    bottom: -10%;
    left: 10%;
    transform: translate(-50%, -90%);
  }
}
/* end header section */
/* start cours section *********************************/
.course-wrapper {
  background: url(../img/background-1747783_1280.jpg);
}
.section-titele span {
  display: inline-block;
  color: rgb(0, 0, 0);
  background-attachment: fixed;
}
.section-titele span::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: orange;
  position: absolute;
  top: 7px;
  right: -47px;
}
.section-titele span::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: orange;
  position: absolute;
  top: 7px;
  right: 89px;
}
.card {
  box-shadow: 1px 1px 1px 1px rgb(209, 209, 209);
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.card-body {
  margin: 10px;
}
.card-body img {
  width: 40px;
  height: 40px;
  font-weight: 900;
  vertical-align: 12px;
  filter: brightness(0);
  margin-right: 5px;
  margin-top: 5px;
}
.card-header .card-overlay {
  background-color: rgba(0, 0, 0, 0.267);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease-in;
}
.card:hover .card-overlay {
  opacity: 1;
}
.card-header .card-overlay p {
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 20px;
}

.card-body .course-title {
  top: 5px;
  right: 60px;
  margin-bottom: 100px;
}

.card-body .course-title a {
  font-size: 16px;
  font-weight: 600;
}

.card-body .course-title p {
  font-size: 14px;
  color: rgb(138, 138, 136);
}
/* end cours section */
/* start  about us******************************* */
.section-titele span {
  display: inline-block;
  color: rgb(0, 0, 0);
  background-attachment: fixed;
}
.section-titele span::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: orange;
  position: absolute;
  top: 7px;
  right: -53px;
}
.section-titele span::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: orange;
  position: absolute;
  top: 7px;
  right: 92px;
}
.about-us-left-aside {
  background-color: #f8f8f8d5;
  /* min-height: 300px; */
  padding: 20px;
  margin-top: 162px;
  /* width: 200px */
}
.about-us-left-aside h4 {
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 18px;
  font-size: 20px;
  color: rgb(58, 57, 57);
}
.about-us-left-aside p {
  padding: 20px;
  line-height: 32px;
  font-size: 17px;
  color: rgb(85, 84, 84);
}

.about-us-left-aside a {
  background-color: rgba(252, 91, 33, 0.897);
  padding: 5px 15px;
  border-radius: 3px;
  color: white;
  margin-top: 0px;
  float: left;
  margin-left: 30px;
  letter-spacing: 1px;
  font-size: 14px;
  transition: 0.5s ease-in;
}
.about-us-left-aside a:hover {
  border-radius: 0 10px 0 10px;
}
.img-about-us {
  width: 100%;
  height: 90%;
}
@media screen and(max-width:992px) {
  .about-us-right-aside {
    display: none;
  }
}
/* .about-us-right-aside{
  background-color: palegreen;
} */

/* end about us */

/* start teacher section******************************* */

.teacher-section-wrapper {
  background-image: url(../img/background-1747783_1280.jpg);
  /* height: 300px; */
  opacity: 85%;
  /* filter: blur(2px); */
  background-position-x: 50%;
  background-repeat: no-repeat;
}
.imgg-teacher {
  filter: blur(0.2px);
}
.teacher-intro {
  background-color: rgba(255, 255, 255, 0.877);
  /* top: 95%; */
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  height: 300px;
  box-shadow: 1px 1px 11px #e4e4e4;
  border-radius: 5px 0 5px 0;
  /* transform: translate(-50%,-50%); */
  text-align: center;
}
.teacher-intro h3 {
  height: 40%;
  width: 80%;
  background-color: rgba(255, 166, 0, 0.158);
  text-align: center;
  color: rgb(41, 41, 41);
  margin: 110px 58px 0px 0px;
}
.h3-teacher {
  padding-top: 5%;
  /* display: block; */
  /* margin-bottom: 50px; */
}
.teacher-intro span a {
  background-color: rgba(255, 166, 0, 0.212);
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  color: rgb(36, 9, 0);
}

.a-teacher {
  border: 2px solid rgba(255, 166, 0, 0.678);
  padding: 5px 1px;
  /* margin:250px; */
  /* display:block; */
  text-align: center;
  width: 70px;
  font-size: 17px;
  border-radius: 7px 7px 1px 1px;
  transition: 0.5s ease-in;
  top: 65%;
  left: 45%;
}
.a-teacher:hover {
  background-color: rgba(255, 166, 0, 0.5);
}
@media screen and(max-width:600px) {
  .teacher-intro {
    background-color: rgba(255, 255, 255, 0.877);
    top: 5%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    height: 0px;
    box-shadow: 1px 1px 11px #e4e4e4;
    border-radius: 5px 0 5px 0;
    transform: translate(-50%, -50%);
  }
}
@media screen and(min-width: 991px) {
  .img-teacher {
    margin-left: auto;
    margin-right: auto;
  }
  .teacher-intro h3 {
    font-size: 16px;
    height: 90px;
    left: 0%;
    margin: 110px 58px 0px 0px;
  }
}

/* end teacher section */
/* start static section************************************************** */
.static-section-wrapper {
  background-color: rgb(240, 188, 93);
  height: auto;
}

.static-section-wrapper img {
  /* text-align: center; */
  margin-top: 20px;
}
.static-section-wrapper .count {
  color: white;
  font-size: 25px;
  margin: 25px;
}
.static-section-wrapper .count-title {
  margin-top: 20px;
  font-size: 20px;
}
.img-static {
  width: 60px;
  height: 70px;
}
/* end static section */
/* start topic section******************************* */

.topic-section-wrapper {
  background-image: url(../img/flowers-5587267_1920.png);
  height: 900px;
  /* opacity: 89%; agar bekhaim bayad der photoshop bahash kar konim*/
  /* filter: blur(4px); */
  background-position: center;
}
.topic-section-wrapper .card-header {
  overflow: hidden;
}
.topic-wrapper .card-header img {
  transition: 0.5s ease;
}
.topic-wrapper:hover img {
  transform: scale(1.2) rotate(10deg);
}

.topic-wrapper .card {
  box-shadow: 1px 5px 15px 2px rgba(68, 103, 242, 0.116);
}
.topic-wrapper .card-body {
  margin: 62px 19px;
}

.topic-wrapper .post-date {
  top: -90px;
}
.topic-wrapper .post-date div:first-child {
  background-color: orange;
  color: #ffffff;
  height: 32px;
  width: 30px;
  text-align: center;
}
.topic-wrapper .post-date div:last-child {
  background-color: rgb(185, 185, 185);
  color: #ffffff;
  height: 32px;
  width: 30px;
  text-align: center;
}
.topic-wrapper .card-body a {
  font-size: 20px;
  /* padding: 15px; */
  /* margin: 100px 0px; */
  /* text-align: right; */
}

.topic-wrapper .card-body p {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(139, 139, 139);
  line-height: 30px;
}
.topic-wrapper .card-footer ul{
   border-top: 1px solid rgba(170, 170, 170, 0.116);
   text-align: center ;
}
.topic-wrapper .card-footer ul li {
  display: inline-block;
 
}
.topic-wrapper .card-footer ul li i ,.topic-wrapper .card-footer ul li span {
  color: rgb(193, 194, 194);
  margin: 11px 6px;
  
}
/* start fag section******************************* */
.faq-section-wrapper span {
  display: inline-block;
  color: rgb(0, 0, 0);
  background-attachment: fixed;
  /* margin-top: 20px; */
}
.faq-section-wrapper span::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: orange;
  position: absolute;
  top: 7px;
  right: -53px;
}
.faq-section-wrapper span::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: orange;
  position: absolute;
  top: 7px;
  right: 82px;
}
.faq-section-bg{
  background-image: url(../img/transparent-1655599_1920.png);
  min-height: 500px;
}

.faq-section-wrapper .faq-right-side {
  box-shadow: 1px 5px 15px 2px rgba(68, 103, 242, 0.116);
  height: auto;
  background-color: white; 
  padding: 40px;
}

.faq-section-wrapper .faq-right-side h6{
  font-size: 16px;
 
}

.faq-section-wrapper .faq-right-side h6 i{
  font-size: 24px;
  margin-left: 16px;
  vertical-align: -px;
  color: orange;
  
}

.faq-section-wrapper .faq-right-side p{
  font-size: 14px;
  color: #ababab;
  margin: 10px 47px 0px 0px;
}















/* end topic section */
/* Respansive***************************************** */

@media only screen and (max-width: 600px) {
  .xs-hidden {
    display: none;
    padding-left: 50px;
  }
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-offset-0 {
    margin-right: 0;
  }
  .col-xs-offset-1 {
    margin-right: 8.33%;
  }
  .col-xs-offset-2 {
    margin-right: 16.66%;
  }
  .col-xs-offset-3 {
    margin-right: 25%;
  }
  .col-xs-offset-4 {
    margin-right: 33.33%;
  }
  .col-xs-offset-5 {
    margin-right: 41.66%;
  }
  .col-xs-offset-6 {
    margin-right: 50%;
  }
  .col-xs-offset-7 {
    margin-right: 58.33%;
  }
  .col-xs-offset-8 {
    margin-right: 66.66%;
  }
  .col-xs-offset-9 {
    margin-right: 75%;
  }
  .col-xs-offset-10 {
    margin-right: 83.33%;
  }
  .col-xs-offset-11 {
    margin-right: 91.66%;
  }
  .col-xs-offset-12 {
    margin-right: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .s-hidden {
    display: none;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .col-s-offset-0 {
    margin-right: 0;
  }
  .col-s-offset-1 {
    margin-right: 8.33%;
  }
  .col-s-offset-2 {
    margin-right: 16.66%;
  }
  .col-s-offset-3 {
    margin-right: 25%;
  }
  .col-s-offset-4 {
    margin-right: 33.33%;
  }
  .col-s-offset-5 {
    margin-right: 41.66%;
  }
  .col-s-offset-6 {
    margin-right: 50%;
  }
  .col-s-offset-7 {
    margin-right: 58.33%;
  }
  .col-s-offset-8 {
    margin-right: 66.66%;
  }
  .col-s-offset-9 {
    margin-right: 75%;
  }
  .col-s-offset-10 {
    margin-right: 83.33%;
  }
  .col-s-offset-11 {
    margin-right: 91.66%;
  }
  .col-s-offset-12 {
    margin-right: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .md-hidden {
    display: none;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-0 {
    margin-right: 0;
  }
  .col-md-offset-1 {
    margin-right: 8.33%;
  }
  .col-md-offset-2 {
    margin-right: 16.66%;
  }
  .col-md-offset-3 {
    margin-right: 25%;
  }
  .col-md-offset-4 {
    margin-right: 33.33%;
  }
  .col-md-offset-5 {
    margin-right: 41.66%;
  }
  .col-md-offset-6 {
    margin-right: 50%;
  }
  .col-md-offset-7 {
    margin-right: 58.33%;
  }
  .col-md-offset-8 {
    margin-right: 66.66%;
  }
  .col-md-offset-9 {
    margin-right: 75%;
  }
  .col-md-offset-10 {
    margin-right: 83.33%;
  }
  .col-md-offset-11 {
    margin-right: 91.66%;
  }
  .col-md-offset-12 {
    margin-right: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .l-hidden {
    display: none;
  }
  .col-l-1 {
    width: 8.33%;
  }
  .col-l-2 {
    width: 16.66%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33%;
  }
  .col-l-5 {
    width: 41.66%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33%;
  }
  .col-l-8 {
    width: 66.66%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33%;
  }
  .col-l-11 {
    width: 91.66%;
  }
  .col-l-12 {
    width: 100%;
  }
  .col-l-offset-0 {
    margin-right: 0;
  }
  .col-l-offset-1 {
    margin-right: 8.33%;
  }
  .col-l-offset-2 {
    margin-right: 16.66%;
  }
  .col-l-offset-3 {
    margin-right: 25%;
  }
  .col-l-offset-4 {
    margin-right: 33.33%;
  }
  .col-l-offset-5 {
    margin-right: 41.66%;
  }
  .col-l-offset-6 {
    margin-right: 50%;
  }
  .col-l-offset-7 {
    margin-right: 58.33%;
  }
  .col-l-offset-8 {
    margin-right: 66.66%;
  }
  .col-l-offset-9 {
    margin-right: 75%;
  }
  .col-l-offset-10 {
    margin-right: 83.33%;
  }
  .col-l-offset-11 {
    margin-right: 91.66%;
  }
  .col-l-offset-12 {
    margin-right: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .xl-hidden {
    display: none;
  }
  .col-xl-offset-0 {
    margin-right: 0;
  }
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-offset-1 {
    margin-right: 8.33%;
  }
  .col-xl-offset-2 {
    margin-right: 16.66%;
  }
  .col-xl-offset-3 {
    margin-right: 25%;
  }
  .col-xl-offset-4 {
    margin-right: 33.33%;
  }
  .col-xl-offset-5 {
    margin-right: 41.66%;
  }
  .col-xl-offset-6 {
    margin-right: 50%;
  }
  .col-xl-offset-7 {
    margin-right: 58.33%;
  }
  .col-xl-offset-8 {
    margin-right: 66.66%;
  }
  .col-xl-offset-9 {
    margin-right: 75%;
  }
  .col-xl-offset-10 {
    margin-right: 83.33%;
  }
  .col-xl-offset-11 {
    margin-right: 91.66%;
  }
  .col-xl-offset-12 {
    margin-right: 100%;
  }
}
