// topic style ************
#topic {
    position: relative;
    &::after,
    // &::before {
    //   content: "";
    //   background-color: rgba(140, 124, 229, 0.5);
  
    //   width: 250px;
    //   height: 250px;
    //   position: absolute;
    //   bottom: 150px;
    //   left: -361px;
    //   transform: skewX(10deg);
    //   @include border-radius(0, 20px, 50px, 0);
    // }
    // &::after {
    //   position: absolute;
    //   bottom: 60px;
    //   left: -300px;
    //   transform: skewX(10deg);
    //   background-color: rgba(140, 124, 229, 0.295);
    //   @include border-radius(0, 20px, 50px, 0);
    // }
    .topic-titel {
      font-size: $default-font-size + 10px;
      // margin-bottom: 30px;
      @include margin-padding(0, 0, 30px, 0, true);
      border-right: 5px solid #569e86;
      @include margin-padding(10px, 20px, 0, 0, false);
    }
    .topic {
      @include flex(flex, space-between, null);
      @include margin-padding(0, 0, 20px, 0, true);
      .card {
        // direction: ltr !important;
        @include section-divider(flex, 49%, 49%);
        border: 1px solid #efefef;
        @include border-radius(3px, 3px, 3px, 3px);
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        &:hover .topic-img::after {
          opacity: 0.6;
        }
      }
      .topic-img {
        @include section-divider(flex, 30%, 30%);
        overflow: hidden;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: #000;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          transition: opacity 0.5s ease;
        }
      }
      .topic-detail {
        position: relative;
        @include section-divider(flex, 70%, 70%);
        flex-direction: column;
        @include margin-padding(22px, 32px, 22px, 22px, false);
        &::after {
          content: "";
          width: 37px;
          height: 118%;
          background-color: white;
          position: absolute;
          top: -2px;
          right: -20px;
          transform: rotate(5deg);
        }
        &:hover {
          transform: translateX(-13px);
        }
        a {
          font-size: $default-font-size + 2px;
        }
        .meta {
          font-size: $default-font-size + 5px;
          margin-top: 15px;
          color: #ccc;
          span {
            margin-left: 16px;
            @include margin-padding(0, 0, 0, 15px, true);
          }
        }
        p {
          font-size: $default-font-size -2px;
          @include margin-padding(20px, 0, 0, 0, true);
          line-height: 20px;
        }
      }
    }
  }