@import url(../sass/-varibel.scss);
@import url(../sass/-mixins.scss);
@import url(../sass/-rests.scss);
@import url(../sass/-navbar.scss);
@import url(../sass/-header.scss);
@import url(../sass/-cours.scss);
@import url(../sass/-path.scss);
@import url(../sass/-topic.scss);
@import url(../sass/-bootstrap.scss);
@import url(../sass/-accordion.scss);
@import url(../sass/-dropdowns.scss);
@import url(../sass/-footer.scss);
@import url(..);
@import url(..);
@import url(..);
@import url(..);
@import url(..);
// .............................................
// (........... step 1 ..........)
// variable(متغییر ها)
// font variable
$font-path: "../assets/font";
$font-family: "vazir-Medium";
$font-weight: 700;
$font-style: "normal";
$default-font-size: 16px;
$nav-link: rgb(46, 46, 46);
$nav-link-hover: rgb(58, 114, 227);
$social-icons-color: #545858;
$social-icons-color-hover: #413d3d;

//......................... mixin
@mixin flex($flex: flex, $position-x: center, $position-y: center) {
  display: $flex;
  justify-content: $position-x;
  align-items: $position-y;
}
@mixin margin-padding($top, $right, $bottom, $left, $margin: true) {
  @if $margin {
    margin: $top $right $bottom $left;
  } @else {
    padding: $top $right $bottom $left;
  }
}
@mixin section-divider($flex: flex, $flex-basis: null, $max-width: null) {
  display: $flex;
  flex-basis: $flex-basis;
  max-width: $max-width;
}
@mixin border($top, $right, $bottom, $left) {
  border-top: $top;
  border-right: $right;
  border-bottom: $bottom;
  border-left: $left;
}
@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}
@font-face {
  font-family: vazir-Medium;
  src: url(#{$font-path}/Vazir-Medium.eot) format("eot"),
    url(#{$font-path}/Vazir-Medium.woff2) format("woff2"),
    url(#{$font-path}/Vazir-Medium.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: $font-family;
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
// ............. public style (reset)
.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}
.row {
  // @include flex(flex,flex-start,end);
  @include flex(flex, center, null);
  width: 100%;
}
.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}
.mt-250 {
  margin-top: 250px;
}
.display-none {
  display: none;
}
// .direction-ltr {
//   direction: ltr;
// }
// .................... menu style .............
#nav {
  .navbar {
    // background-color: #ccc;
    font-size: $default-font-size + 2px;
    height: 60px;
    @include flex(flex, space-between, null);
    @include margin-padding(24px, 0, 24px, 0, true);
    ul {
      li {
        display: inline-block;
        line-height: 60px;
        @include margin-padding(0, 0, 0, 18px);
        position: relative;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          //   top: 0;
          bottom: 0px;
          left: 0px;
          right: 0px;
          width: 0px;
          height: 2px;
          // background-color: rgb(54, 114, 228);
          transition: width 0.5s ease;
        }
        &:hover::after {
          width: 100%;
          // background-color: #45a1ff;
        }
        a {
          color: $nav-link;
          transition: color 0.5s ease;
          //   &:hover {
          //     color: rgb(235, 10, 10);
          &:hover {
            color: $nav-link-hover;
          }
        }
      }
      //   **** dropdowns style ****//
      .dropdown-body {
        // display: inline-block;
        display: inline-block;
        position: absolute;
        // margin: 20px;
        @include margin-padding(0, 10px, 0, 10px, false);
        .dropdown-body a {
          @include margin-padding(0px, 110px, 0, 110px, false);

          .dropdown-body i {
            @include margin-padding(0px, 110px, 0px, 110px, false);
          }
        }

        .dropdown-menu {
          // height: 0;
          // display: inline-block;
          width: 300px;
          display: flex;
          flex-direction: column;
          position: absolute;
          white-space: nowrap;
          z-index: 20;
          font-size: $default-font-size - 1px;
          visibility: hidden;
          // opacity: 0;
          transition: 0.2s ease;
          background-color: #eeeeee1f;
          @include margin-padding(0, 10px, 0, 10px, false);
          @include border-radius(0, 0, 10px, 10px);
          border-left: 1px solid #efefef65;
          border-right: 1px solid #efefef65;
          border-bottom: 1px solid #efefef;
          box-shadow: 1px 1px 2px #cfcfcf;
        }
      }
    }
    // **** social-icons **** //
    .social-icons {
      direction: ltr;
      @include margin-padding(21px, 0, 0, 0, false);

      a {
        color: $social-icons-color;
        transition: color 1.5 ease;
        &:hover {
          color: $social-icons-color-hover;
        }
        i {
          @include margin-padding(0px, 10px, 0px, 10px, false);
        }
      }
    }

    & li:hover .dropdown-menu {
      visibility: visible;
    }
  }
}
// header style ************
#header {
  header {
    width: 100%;
    @include margin-padding(100px, 0, 0, 0, true);
    @include flex(flex, space-between, flex-start);
    .right {
      position: relative;
      @include section-divider(flex, 57%, 57%);
      // gear-1 .....
      .gear-1 {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: $default-font-size + 24px;
        color: rgb(107, 107, 107);
        animation: gear-1 13s infinite linear;
      }
      @keyframes gear-1 {
        100% {
          transform: rotate(360deg);
        }
      }
      // gear-2 .....
      .gear-2 {
        position: absolute;
        top: 0;
        right: 0;
        font-size: $default-font-size + 4px;
        color: rgb(78, 78, 78);
        animation: gear-2 13s infinite linear;
      }
      @keyframes gear-2 {
        100% {
          transform: rotate(-360deg);
        }
      }
      // sq-1 .....
      .sq-1 {
        position: absolute;
        top: 0;
        left: 0px;
        width: 20px;
        height: 20px;
        border: 4px solid #efefef;
        animation: sq-1 15s infinite linear;
      }
      @keyframes sq-1 {
        100% {
          transform: rotate(-360deg);
        }
      }
      // sq-2 .....
      .sq-2 {
        position: absolute;
        bottom: -20px;
        left: 50px;
        width: 40px;
        height: 40px;
        border: 4px solid #569e86;
        animation: sq-2 40s infinite linear;
      }
      @keyframes sq-2 {
        100% {
          transform: rotate(360deg);
        }
      }
      // sq-3 .....
      .sq-3 {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 30px;
        height: 30px;
        border: 4px solid #569e8670;
        animation: sq-3 20s infinite linear;
      }
      @keyframes sq-3 {
        100% {
          transform: rotate(360deg);
        }
      }
    }

    // ....................
    .left {
      display: flex;
      flex-direction: column;
      @include margin-padding(17%, 0, 0, 0, false);
      @include section-divider(flex, 29%, 29%);
      h1 {
        font-size: $default-font-size + 18px;
        @include margin-padding(0, 0, 30px, 0, true);
      }
    }
  }
}
// cours style *************
#course {
  position: relative;
  .pipe {
    position: absolute;
    width: 1518px !important;
    height: 370px;
    background: rgba(140, 124, 229, 0.137);
    top: 83px;
    //   left: -174px;
    right: -174px;
    @include border-radius(0, 250px, 250px, 0);
    border-radius: 0 250px 250px 0;
  }
  .row {
    .course {
      display: flex;
      flex-direction: column;
      @include border-radius(0, 0, 5px, 5px);
      @include section-divider(flex, 30%, 30%);
      @include margin-padding(0px, 16px, 0, 16px, true);
      background-color: #ffffff;
      position: relative;
      border-bottom: 10px solid rgb(13, 241, 154);
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        box-shadow: 0 0 13px 0 rgba(95, 95, 95, 0.5);
      }
      &:hover .teacher {
        top: -54px;
      }
      &:hover .teacher-name {
        display: inline-block;
        width: 200px;
        right: 100px;
        top: -25px;
        transition: right 1.5s ease;
      }
      .status {
        position: absolute;
        font-size: $default-font-size -4px;
        left: 10px;
        top: 10px;
        background-color: rgba(159, 206, 228, 0.966);
        color: #fff;
        @include margin-padding(2px, 6px, 2px, 6px, false);
        @include border-radius(2px, 2px, 2px, 2px);
      }
      .teacher {
        position: absolute;
        top: -16px;
        right: -30px;
        width: 104px;
        z-index: -1;
        // @include border-radius(, , , );
        transition: top 1s ease;
      }
      .teacher-name {
        position: absolute;
        // top: 50px;
        top: 0px;
        right: 0px;
        font-size: $default-font-size -3px;
        z-index: -2;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: all 1s ease;
        // display: none
      }
    }
    a {
      @include margin-padding(10px, 10px, 10px, 10px, true);
      font-size: $default-font-size;
      color: #313131;
      @include margin-padding(80px, 0, 0, 0, false);
    }
    // .img-height{
    //   height: 255px !important;
    //   border:3px solid #45a1ff;
    // }
    .meta {
      display: flex;

      font-size: $default-font-size -2px;
      @include margin-padding(0, 10px, 0, 10px, true);
      @include margin-padding(16px, 0px, 12px, 0px, false);
      @include border(1px solid #efefef, 0, 0, 0);
      border-top: 1px solid #efefef;
      span:nth-child(1) {
        margin-left: auto;
        @include margin-padding(0, 0, 0, 0, auto);
        i {
          color: #45a1ff;
          @include margin-padding(0, 0, 0, 0, 3px);
        }
      }
      span:nth-child(2) {
        @include margin-padding(0, 8px, 0, 8px, false);
        color: #37b537;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
      }
    }
  }
}
// path style **************
.path {
  @include flex(flex, space-between, null);
  margin-bottom: 100px;
  // @include margin-padding(0, 0, 100px, 0, true);
  .right-side {
    @include section-divider(flex, 50%, 50%);
  }
  .left-side {
    @include section-divider(flex, 45%, 45%);
    .path-title {
      direction: ltr !important;
      @include flex(flex, center, center);
      flex-direction: column;
      h2 {
        font-size: $default-font-size + 10px;
        margin-bottom: 34px;
        color: #46484d;
      }
      p {
        font-size: $default-font-size + 2px;
        line-height: 42px;
        color: #757272;
      }
    }
  }
}
// topic style *************
#topic {
  position: relative;
  &::after,
    // &::before {
    //   content: "";
    //   background-color: rgba(140, 124, 229, 0.5);
  
    //   width: 250px;
    //   height: 250px;
    //   position: absolute;
    //   bottom: 150px;
    //   left: -361px;
    //   transform: skewX(10deg);
    //   @include border-radius(0, 20px, 50px, 0);
    // }
    // &::after {
    //   position: absolute;
    //   bottom: 60px;
    //   left: -300px;
    //   transform: skewX(10deg);
    //   background-color: rgba(140, 124, 229, 0.295);
    //   @include border-radius(0, 20px, 50px, 0);
    // }
    .topic-titel {
    font-size: $default-font-size + 10px;
    // margin-bottom: 30px;
    @include margin-padding(0, 0, 30px, 0, true);
    border-right: 5px solid #569e86;
    @include margin-padding(10px, 20px, 0, 0, false);
  }
  .topic {
    @include flex(flex, space-between, null);
    @include margin-padding(0, 0, 20px, 0, true);
    .card {
      // direction: ltr !important;
      @include section-divider(flex, 49%, 49%);
      border: 1px solid #efefef;
      @include border-radius(3px, 3px, 3px, 3px);
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      &:hover .topic-img::after {
        opacity: 0.6;
      }
    }
    .topic-img {
      @include section-divider(flex, 30%, 30%);
      overflow: hidden;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
    }
    .topic-detail {
      position: relative;
      @include section-divider(flex, 70%, 70%);
      flex-direction: column;
      @include margin-padding(22px, 32px, 22px, 22px, false);
      &::after {
        content: "";
        width: 37px;
        height: 118%;
        background-color: white;
        position: absolute;
        top: -2px;
        right: -20px;
        transform: rotate(5deg);
      }
      &:hover {
        transform: translateX(-13px);
      }
      a {
        font-size: $default-font-size + 2px;
      }
      .meta {
        font-size: $default-font-size + 5px;
        margin-top: 15px;
        color: #ccc;
        span {
          margin-left: 16px;
          @include margin-padding(0, 0, 0, 15px, true);
        }
      }
      p {
        font-size: $default-font-size -2px;
        @include margin-padding(20px, 0, 0, 0, true);
        line-height: 20px;
      }
    }
  }
}
//  start Accordion ********

.accordion .accordion-item {
  position: relative;
  margin: 10px 20px;
}
.accordion .accordion-item .acordion-label {
  position: relative;
  padding: 10px;
  background-color: #b71c1c;
  cursor: pointer;
  counter-reset: #fff;
  text-align: left;
}
.accordion .accordion-item .acordion-label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: $default-font-size + 9px;
  transform: translateY(-50%);
}
.accordion .accordion-item .accordion-contant {
  position: relative;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  height: 0px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.accordion .accordion-item.action .accordion-contant {
  height: 250px;
  padding: 20px;
}
.accordion .accordion-item.active .acordion-label::before {
  content: "-";
}

// .accordion {
//   .accordion-item {
//     position: relative;
//     margin: 10px 20px;

//     .acordion-label {
//       position: relative;
//       padding: 10px;
//       background-color: #b71c1c;
//       cursor: pointer;
//       counter-reset: #fff;
// text-align: left;
//       &::before {
//         content: '+';
//         position: absolute;
//         top: 50%;
//         right: 20px;
//         font-size: $default-font-size + 9px;
//         transform: translateY(-50%);
//       }
//     }
//     .accordion-contant {
//       position: relative;
//       background-color: #fff;
//       text-align: center;
//       padding: 20px;
//       height: 0px;
//       overflow: hidden;
//       transition: all 0.4s ease-in-out;
//     }
//     .accordion-item.action {
//       .accordion-contant {
//         height: 250px;
//         padding: 20px;
//       }
//     }
//     .accordion-item.active {
//       .acordion-label::before {
//         content: "-";
//       }
//     }
//   }
// }

// footer style ************
#footer {
  background-color: rgb(155, 200, 183);
  @include margin-padding(80px, 0px, 0px, 0, false);
  overflow: hidden;
  .footer {
    .side-1 {
      @include section-divider(flex, 30%, 30%);
      @include flex(flex, center, flex-start);
      flex-direction: column;
      text-align: left;
      position: relative;

      h5 {
        color: #fff;
        @include margin-padding(0, 0, 32px, 0, true);
        text-align: left;
        position: absolute;
        left: 50px;
        top: -38px;
        font-size: $default-font-size + 2px;
      }
      ul {
        font-size: $default-font-size - 1px;
        @include margin-padding(1px, 299px, 40px, 0, true);
        li {
          @include margin-padding(0, 0, 18px, 0, true);
          color: #ececec;
          i {
            @include margin-padding(7px, 0px, 0, 12px, true);
            span {
              @include margin-padding(0, 0px, 0, 10px, false);
            }
          }
        }
      }
    }
    .side-2 {
      @include section-divider(flex, 30%, 30%);
      @include flex(flex, center, center);
      text-align: left;
      ul {
        font-size: $default-font-size -1px;
        @include margin-padding(0, 0, 40px, 0, true);
        li {
          @include margin-padding(0, 0, 16px, 0, true);
          a {
            color: #f8f8f8;
            transition: color 0.5s ease;
            &:hover {
              color: #3b8ddf;
            }
          }
        }
      }
    }
    .side-3 {
      flex-direction: column;

      p {
        color: #fff;
        @include margin-padding(0, 0, 26px, 0, true);
        font-size: $default-font-size;
        width: 100%;
        // text-align: right;
      }
      form {
        position: relative;
        .email {
          width: 100%;
          height: 35px;
          @include margin-padding(10px, 10px, 10px, 10px, false);
          border: 0;
          @include border-radius(4px, 4px, 4px, 4px);
          outline: none;
          text-align: left;
          color: rgb(58, 114, 227);
        }
        .submit {
          position: absolute;
          top: px;
          left: -47px;
          border: 0;
          width: 15%;
          height: 33px;
          @include border-radius(4px, 4px, 4px, 4px);
          outline: none;
          cursor: pointer;
          transition: color 0.2s ease;
          &:hover {
            color: rgb(58, 114, 227);
          }
        }
      }
    }
  }
  .copy-right {
    display: block;
    background-color: #487e7b;
    text-align: center;
    @include margin-padding(30px, 0, 30px, 0, false);
    font-size: $default-font-size -2px;
  }
}
