*,
body {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-family: vazir-Medium;
}
body {
  direction: ltr;
}
a {
  list-style: none;
  text-decoration: none;
  /* decoration:none; */
}
figure {
  position: relative;
}
li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.red-color {
  background-color: red;
}
.yellow-color {
  background-color: yellow;
}
.blue-color {
  background-color: blue;
}
.green-color {
  background-color: green;
}
.gray-color {
  background-color: gray;
}
.l-gray-color {
  background-color: rgb(163, 179, 176);
}
.m-50 {
  margin: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-220 {
  margin-top: 220px;
}
.p-0 {
  padding: 0 !important;
  /* background-color: rgba(75, 219, 171, 0.158); */
}
.m-0 {
  margin: 0px;
}
.text-center {
  text-align: center;
}
.img-respansive {
  width: 100%;
  height: auto;
  display: block; /* چون در زمان هاور از تصویر نزنه بیرون*/
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.round-corner {
  border-radius: 5px;
}
.box-shadow {
  box-shadow: 0px 0px 2px 0px #d0d0d0;
}
.container-fluid {
  width: 100%;
}

.container {
  clear: both;
  content: "";
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class^="col-"] {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}
/* accordion menu************************ */
ul.accordion {
  background-color: rgb(190, 35, 35);
  /* border: 1px solid rgb(151, 145, 145); */
}
ul.accordion div {
  background-color: rgba(64, 179, 224, 0.452);
  color: white;
  /* text-align: center; */
  font-size: 18px;
  padding: 10px;
}
ul.accordion li {
  background-color: rgb(255, 255, 255);
  color: white;
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid rgba(228, 225, 225, 0.486);
}
ul.accordion ul {
  display: none;
  padding: 10px;
}
/* scroll to top********************** */
.container {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}
.container div {
  background-color: rgb(221, 109, 201);
  width: 50px;
  text-align: center;
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  line-height: 40px;
}
.container3 {
  display: flex;
  margin-bottom: 30px;
  justify-content:space-around;
  margin-top: 30px;
  min-height: 300px;
}
.container3 div {
  width: 60px;
  margin: 10px;
  text-align: center;
  background-color: rgb(243, 73, 130);
  line-height: 60px;
  font-size: 26px;
  color: #efef;
 
}
.container2 {
  display: flex;
  margin-bottom: 30px;
  justify-content:space-around;
  margin-top: 30px;
  min-height: 300px;
}
.container2 div {
  width: 100px;
  margin: 10px;
  text-align: center;
  background-color: rgb(95, 241, 103);
  line-height: 60px;
  font-size: 26px;
  color: #efef;
 
}
