* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: rgb(193, 97, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
    padding: 30px;
}
/* .................................. */
.container .info{
display: flex;
flex-direction: column;
padding: 10px;
}
.container .info h1{
    padding-bottom: 10px;
    }
    /* ............................... */
.container form{
    margin: 15px 0 25px;
}
.container :where(input, button){
outline: 0;
border: 0;
width: 100%;
border-radius:5px ;
margin: 5px 0;
padding: 30px;
}
.container form input{
    border: 1px solid #efefef;
}
.container form input::placeholder{
color: #cdcdcd;}
.container form button{
    background-color: rgb(193, 97, 220);
    color: #fff;
    font-size: 20px;
}