#hamberger{
    i{
        color: red;
    }
    }
    #nav {
        .navbar {
          // background-color: #ccc;
          font-size: $default-font-size + 2px;
          height: 60px;
          @include flex(flex, space-between, null);
          @include margin-padding(24px, 0, 24px, 0, true);
          ul {
            li {
              display: inline-block;
              line-height: 60px;
              @include margin-padding(0, 0, 0, 18px);
              position: relative;
              cursor: pointer;
              &::after {
                content: "";
                position: absolute;
                //   top: 0;
                bottom: 0px;
                left: 0px;
                right: 0px;
                width: 0px;
                height: 2px;
                // background-color: rgb(54, 114, 228);
                transition: width 0.5s ease;
              }
              &:hover::after {
                width: 100%;
                // background-color: #45a1ff;
              }
              a {
                color: $nav-link;
                transition: color 0.5s ease;
                //   &:hover {
                //     color: rgb(235, 10, 10);
                &:hover {
                  color: $nav-link-hover;
                }
              }
            }
            //   **** dropdowns style ****//
            .dropdown-body {
              // display: inline-block;
              display: inline-block;
              position: absolute;
              // margin: 20px;
              @include margin-padding(0, 10px, 0, 10px, false);
              .dropdown-body a {
                @include margin-padding(0px, 110px, 0, 110px, false);
      
                .dropdown-body i {
                  @include margin-padding(0px, 110px, 0px, 110px, false);
                }
              }
      
              .dropdown-menu {
                // height: 0;
                // display: inline-block;
                width: 300px;
                display: flex;
                flex-direction: column;
                position: absolute;
                white-space: nowrap;
                z-index: 20;
                font-size: $default-font-size - 1px;
                visibility: hidden;
                // opacity: 0;
                transition: 0.2s ease;
                background-color: #eeeeee1f;
                @include margin-padding(0, 10px, 0, 10px, false);
                @include border-radius(0, 0, 10px, 10px);
                border-left: 1px solid #efefef65;
                border-right: 1px solid #efefef65;
                border-bottom: 1px solid #efefef;
                box-shadow: 1px 1px 2px #cfcfcf;
              }
            }
          }
          // **** social-icons **** //
          .social-icons {
            direction: ltr;
            @include margin-padding(21px, 0, 0, 0, false);
      
            a {
              color: $social-icons-color;
              transition: color 1.5 ease;
              &:hover {
                color: $social-icons-color-hover;
              }
              i {
                @include margin-padding(0px, 10px, 0px, 10px, false);
              }
            }
          }
      
          & li:hover .dropdown-menu {
            visibility: visible;
          }
        }
      }