// variable(متغییر ها)
// font variable
$font-path: "../assets/font";
$font-family: "vazir-Medium";
$font-weight: 700;
$font-style: "normal";
$default-font-size: 16px;
$nav-link: rgb(46, 46, 46);
$nav-link-hover: rgb(58, 114, 227);
$social-icons-color: #545858;
$social-icons-color-hover: #413d3d;