// (........... step 1 ..........)
// variable(متغییر ها)
// font variable
$font-path: "../assets/font";
$font-family: "vazir-Medium";
$font-weight: 700;
$font-style: "normal";
$default-font-size: 16px;
$nav-link: rgb(46, 46, 46);
$nav-link-hover: rgb(58, 114, 227);
$social-icons-color: #545858;
$social-icons-color-hover: #413d3d;
// mixin
@mixin flex($flex: flex, $position-x: center, $position-y: center) {
  display: $flex;
  justify-content: $position-x;
  align-items: $position-y;
}
@mixin margin-padding($top, $right, $bottom, $left, $margin: true) {
  @if $margin {
    margin: $top $right $bottom $left;
  } @else {
    padding: $top $right $bottom $left;
  }
}
@mixin section-divider($flex: flex, $flex-basis: null, $max-width: null) {
  display: $flex;
  flex-basis: $flex-basis;
  max-width: $max-width;
}
@mixin border-radius($top, $right, $bottom, $left) {
  border-top: $top;
  border-right: $right;
  border-bottom: $bottom;
  border-left: $left;
}
@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}
@font-face {
  font-family: vazir-Medium;
  src: url(#{$font-path}/Vazir-Medium.eot) format("eot"),
    url(#{$font-path}/Vazir-Medium.woff2) format("woff2"),
    url(#{$font-path}/Vazir-Medium.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: $font-family;
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

// ............. public style
.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}
.row {
  // @include flex(flex,flex-start,end);
  @include flex(flex, center, null);
  width: 100%;
}
.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}
// menu style  ************
#nav {
  .navbar {
    // background-color: #ccc;
    font-size: $default-font-size + 2px;
    height: 60px;
    @include flex(flex, space-between, null);
    @include margin-padding(24px, 0, 24px, 0, true);
    ul {
      li {
        display: inline-block;
        line-height: 60px;
        @include margin-padding(0, 0, 0, 18px);
        position: relative;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          //   top: 0;
          bottom: 0px;
          left: 0px;
          right: 0px;
          width: 0px;
          height: 2px;
          background-color: rgb(54, 114, 228);
          transition: width 0.5s ease;
        }
        &:hover::after {
          width: 100%;
        }
        a {
          color: $nav-link;
          transition: color 0.5s ease;
          //   &:hover {
          //     color: rgb(235, 10, 10);
          &:hover {
            color: $nav-link-hover;
          }
        }
      }
    }
    .social-icons {
      direction: ltr;
      @include margin-padding(21px, 0, 0, 0, false);

      a {
        color: $social-icons-color;
        transition: color 1.5 ease;
        &:hover {
          color: $social-icons-color-hover;
        }
        i {
          @include margin-padding(0px, 10px, 0px, 10px, false);
        }
      }
    }
  }
}
// header style  **********
#header {
  header {
    width: 100%;
    @include margin-padding(100px, 0, 0, 0, true);
    @include flex(flex, space-between, flex-start);
    .right {
      position: relative;
      @include section-divider(flex, 57%, 57%);
      // gear-1 .....
      .gear-1 {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: $default-font-size + 24px;
        color: rgb(107, 107, 107);
        animation: gear-1 13s infinite linear;
      }
      @keyframes gear-1 {
        100% {
          transform: rotate(360deg);
        }
      }
      // gear-2 .....
      .gear-2 {
        position: absolute;
        top: 0;
        right: 0;
        font-size: $default-font-size + 4px;
        color: rgb(78, 78, 78);
        animation: gear-2 13s infinite linear;
      }
      @keyframes gear-2 {
        100% {
          transform: rotate(-360deg);
        }
      }
      // sq-1 .....
      .sq-1 {
        position: absolute;
        top: 0;
        left: 0px;
        width: 20px;
        height: 20px;
        border: 4px solid #efefef;
        animation: sq-1 15s infinite linear;
      }
      @keyframes sq-1 {
        100% {
          transform: rotate(-360deg);
        }
      }
      // sq-2 .....
      .sq-2 {
        position: absolute;
        bottom: -20px;
        left: 50px;
        width: 40px;
        height: 40px;
        border: 4px solid #569e86;
        animation: sq-2 40s infinite linear;
      }
      @keyframes sq-2 {
        100% {
          transform: rotate(360deg);
        }
      }
      // sq-3 .....
      .sq-3 {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 30px;
        height: 30px;
        border: 4px solid #569e8670;
        animation: sq-3 20s infinite linear;
      }
      @keyframes sq-3 {
        100% {
          transform: rotate(360deg);
        }
      }
    }

    // ....................
    .left {
      @include margin-padding(17%, 0, 0, 0, false);
      @include section-divider(flex, 29%, 29%);
      h1 {
        font-size: $default-font-size + 18px;
        @include margin-padding(0, 0, 30px, 0, true);
      }
    }
  }
}
// cours style ************
#course {
  // .pipe {
  // }
  .row {
    .course {
      @include border-radius(0, 0, 5px,5px );
      @include section-divider(flex, 30%, 30%);
      @include margin-padding(0,16px , 0,16px ,true );
      background-color: #ffffff;
      position: relative;
      border-bottom: 40px solid rgb(13, 241, 154);
      cursor: pointer;
      .status{
        position: absolute;
        font-size: $default-font-size -4px;
      }
    }
  }
}
