@font-face {
  font-family: vazir-Medium;
  src: url(#{$font-path}/Vazir-Medium.eot) format("eot"),
    url(#{$font-path}/Vazir-Medium.woff2) format("woff2"),
    url(#{$font-path}/Vazir-Medium.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  /* font-family: vazir-Medium; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* transition: .2s ease-in; */
}

body,
html {
  height: 100%;
  overflow: hidden;
  /* background-color: #d8e0e5; */
  transition: all 0.2s ease;
  position: relative;
}

ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container-fluid {
  width: 100%;
  height: auto;
  /* margin: auto; */
  position: relative;
}

.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

.mt-250 {
  margin-top: 250px;
}
/* ........................................ */
body {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #aaddba);
}
.name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5%;
  font-size: 50px;
  font-weight: bold;
  word-spacing: 10px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(2);
  font-size: 20px !important;
  position: absolute;
  top: 340px;
  left: 5%;
  position: relative;
  
}
/* .home-header {
  position: absolute;
  left: 2px;
} */
.i-dot {
  position: absolute;
  top: -60px;
  transform: translateX(72px);
  color: #65aea2;
  /* color: #f3ffbd; */
}
.i-dot::before{
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  border-radius: 5px;
  left: px;
  top: 10px;
  background-image:  linear-gradient(to right, #f3ffbd,#aaddba00, #f3ffbd);
  /* background-image:  linear-gradient(to right, #ff1654 ,#aaddba00 , #ff1654 ); */
  
  position: absolute;
  animation: line 1s  linear infinite;

}
@keyframes line {
  0%{
    transform: rotate(0deg);

  }
  100%{
    transform: rotate(360deg);
    
  }
  
}
.header-1 {
  position: absolute;
  left: 51.2%;
  bottom: 68%;
  font-size: 30px;
}
.big-d{
  font-size: 60px;
}
.i{
  width: 5px;
  height: 80px;
  background-color: #58968c;
  border-radius: 5px 5px 0 0;
  position: absolute;
 transform: translateX(80px);
 bottom: 15px;
}
/* .header-2 {
} */
.ideas{
  font-size: 30px;
  display: flex;
  justify-content: center;
  position:relative;
  top: 450px;
  left: 50px;
  /* padding-right:100px; */
  /* width:calc(100% - 320px) ; */
  /* word-break:break-all; */
  width: 100%;
  /* background-color: rgb(0, 136, 255); */
}
/* .ideas h3{
  position: absolute;
} */

/* ................... circle */
/* end circle */
.slide-left {
  width: 30%;
  height: 100%;
  background-color: blueviolet;
  z-index: 2;
}