@font-face {
  font-family: Vazir-Medium;
  src: url(../Project1/font/Vazir-Medium.eot) format("eot"),
    url(../Project1/font/Vazir-Medium.woff) format("woff"),
    url(../Project1/font/Vazir-Medium.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir-Medium;
  transition: .2s ease-in;

}
body,
html{
  direction: rtl;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.cantainer {
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}
/* .............................end public style */
.container-fluid{
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}
.row{
  width: 100%;
}
.img-fluid{
  display: block;
  width: 100%;
  height: auto;
}
.mt-50 {
  margin-top: 50px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-250 {
  margin-top: 250px;
}
.mt-550 {
  margin-top: 550px;
}
.mb-200 {
  margin-bottom: 200px;
}
/* .............................................. */
b

