@import "_";
@import "_";
@import "_";

@font-face {
    font-family: vazir-Medium;
    src: url(../font1/Vazir-Medium.eot) format("eot"),
    url(../font1/Vazir-Medium.woff2) format("woff2"),
   url(../font1/Vazir-Medium.woff) format("woff2");
    font-weight: 700;
    font-style: normal;
}

